<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingyuan.zhifeng.repository.ZFAgencyemployeeMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<resultMap id="BaseResultMap" type="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="idpicture" property="idpicture" jdbcType="VARCHAR" />
		<result column="agencyid" property="agencyid" jdbcType="INTEGER" />
		<result column="skillid" property="skillid" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="head" property="head" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="introduce" property="introduce" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="passwdtime" property="passwdtime" jdbcType="TIMESTAMP" />
		<result column="enabled" property="enabled" jdbcType="TINYINT" />
		<result column="worktime" property="worktime" jdbcType="INTEGER" />
		<result column="identity" property="identity" jdbcType="INTEGER" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
		<result column="certificate" property="certificate" jdbcType="VARCHAR" />
		<result column="certificatepicture" property="certificatepicture" jdbcType="VARCHAR" />
		<result column="workphone" property="workphone" jdbcType="VARCHAR" />
		<association property="skill" column="identity" select="com.jingyuan.zhifeng.repository.ZFSkillcMapper.selectByAgencyeId"></association>
		<association property="agency" column="agencyid" select="com.jingyuan.zhifeng.repository.ZFAgencyMapper.findById"></association>
	</resultMap>
	<sql id="Base_Column_List">
		id, name, phone, password, email, realname, idcard, idpicture, agencyid,
		skillid,
		city, head, status, introduce, position, createtime, updatetime, enabled,
		worktime,identity
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zf_agencyemployee
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from zf_agencyemployee
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jingyuan.zhifeng.entity.ZFAgencyemployee"
		keyProperty="id" useGeneratedKeys="true">
		insert into zf_agencyemployee (name, phone,
		password, email, realname,
		idcard, idpicture, agencyid,
		skillid, city, head,
		status, introduce, position,
		createtime, updatetime,passwdtime, enabled,salt,worktime,identity,weight,certificate,certificatepicture,
		workphone
		)
		values (#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{realname,jdbcType=VARCHAR},
		#{idcard,jdbcType=VARCHAR}, #{idpicture,jdbcType=VARCHAR}, #{agencyid,jdbcType=INTEGER},
		#{skillid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
		#{head,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{introduce,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},#{passwdtime,jdbcType=TIMESTAMP},
		#{enabled,jdbcType=TINYINT}, #{salt,jdbcType=VARCHAR},#{worktime,jdbcType=INTEGER},
		#{identity,jdbcType=INTEGER},#{weight,jdbcType=INTEGER},#{certificate,jdbcType=VARCHAR},
		#{certificatepicture,jdbcType=VARCHAR},#{workphone,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		insert into zf_agencyemployee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="idcard != null">
				idcard,
			</if>
			<if test="idpicture != null">
				idpicture,
			</if>
			<if test="agencyid != null">
				agencyid,
			</if>
			<if test="skillid != null">
				skillid,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="head != null">
				head,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="introduce != null">
				introduce,
			</if>
			<if test="position != null">
				position,
			</if>
				createtime,
				updatetime,
				passwdtime,
			<if test="enabled != null">
				enabled,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="worktime != null">
				worktime,
			</if>
			<if test="identity != null">
				identity,
			</if>
			<if test="weight != null">
				weight,
			</if>
			<if test="certificate != null">
				certificate,
			</if>
			<if test="certificatepicture != null">
				certificatepicture,
			</if>
			<if test="workphone != null">
				workphone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="idpicture != null">
				#{idpicture,jdbcType=VARCHAR},
			</if>
			<if test="agencyid != null">
				#{agencyid,jdbcType=INTEGER},
			</if>
			<if test="skillid != null">
				#{skillid,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				#{head,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="introduce != null">
				#{introduce,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
			now(),
			now(),
			now(),
			<if test="enabled != null">
				#{enabled,jdbcType=TINYINT},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="worktime != null">
				#{worktime,jdbcType=INTEGER},
			</if>
			<if test="identity != null">
				#{identity,jdbcType=INTEGER},
			</if>
			<if test="weight != null">
				#{weight,jdbcType=INTEGER},
			</if>
			<if test="certificate != null">
				#{certificate,jdbcType=VARCHAR},
			</if>
			<if test="certificatepicture != null">
				#{certificatepicture,jdbcType=VARCHAR},
			</if>
			<if test="workphone != null">
				#{workphone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		update zf_agencyemployee
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null">
				idcard = #{idcard,jdbcType=VARCHAR},
			</if>
			<if test="idpicture != null">
				idpicture = #{idpicture,jdbcType=VARCHAR},
			</if>
			<if test="agencyid != null">
				agencyid = #{agencyid,jdbcType=INTEGER},
			</if>
			<if test="skillid != null">
				skillid = #{skillid,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				head = #{head,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="introduce != null">
				introduce = #{introduce,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="passwdtime != null">
				passwdtime = #{passwdtime,jdbcType=TIMESTAMP},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=TINYINT},
			</if>
			<if test="worktime != null">
				worktime = #{worktime,jdbcType=INTEGER},
			</if>
			<if test="identity != null">
				identity = #{identity,jdbcType=INTEGER},
			</if>
			<if test="weight != null">
				weight = #{weight,jdbcType=INTEGER},
			</if>
			<if test="certificate != null">
				certificate = #{certificate,jdbcType=VARCHAR},
			</if>
			<if test="certificatepicture != null">
				certificatepicture = #{certificatepicture,jdbcType=VARCHAR},
			</if>
			<if test="workphone != null">
				workphone = #{workphone,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		update zf_agencyemployee
		set name = #{name,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		realname = #{realname,jdbcType=VARCHAR},
		idcard = #{idcard,jdbcType=VARCHAR},
		idpicture = #{idpicture,jdbcType=VARCHAR},
		agencyid = #{agencyid,jdbcType=INTEGER},
		skillid = #{skillid,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		head = #{head,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		introduce = #{introduce,jdbcType=VARCHAR},
		position = #{position,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		updatetime = #{updatetime,jdbcType=TIMESTAMP},
		passwdtime = #{passwdtime,jdbcType=TIMESTAMP},
		enabled = #{enabled,jdbcType=TINYINT},
		worktime = #{worktime,jdbcType=INTEGER},
		identity = #{identity,jdbcType=INTEGER},
		weight = #{weight,jdbcType=INTEGER},
		certificate = #{certificate,jdbcType=VARCHAR},
		certificatepicture = #{certificatepicture,jdbcType=VARCHAR},
		workphone = #{workphone,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByPhone" parameterType="string"
		resultType="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		select * from zf_agencyemployee u where u.phone=#{phone}
	</select>

	<select id="selectByUserName" parameterType="String"
		resultType="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		select * from zf_agencyemployee u where u.name=#{userName}
	</select>

	<select id="selectByUser" parameterType="com.jingyuan.zhifeng.entity.ZFAgencyemployee"
		resultType="com.jingyuan.zhifeng.entity.ZFAgencyemployee">
		select * from zf_agencyemployee
		<where>
			<if test="name != null">
				name = #{name}
			</if>
			<if test="email != null">
				email = #{email}
			</if>
			<if test="phone != null">
				phone = #{phone}
			</if>
			<if test="password != null">
				and password = #{password}
			</if>

		</where>
	</select>

	<select id="findGoldEmployee" resultMap="BaseResultMap">
		select * from zf_agencyemployee a where a.agencyid=#{param1} order by a.weight desc
		<if test="param2 != null">
			limit #{param2}
		</if>
	</select>
	
	<select id="findAgencyeWithNeeds" resultMap="BaseResultMap">
		select a.* from zf_agencyemployee a LEFT JOIN zf_skillc c ON a.identity = c.id,zf_skillc s where a.agencyid =#{param1} and s.parentid = a.identity
  		<if test="param2 != null">
  		and 
  			<foreach item="service" index="index" collection="param2" open="(" separator=" or " close=")">
        		s.name = '${service}'
  			</foreach>
  		</if>
  		<if test="param3 != null">
  		and 
  			<foreach item="agencyType" index="index" collection="param3" open="(" separator=" or " close=")">
        		c.name = '${agencyType}'
  			</foreach>
  		</if>
  		<if test="param4 != null">
  			<if test="param4 &lt; 20">
  				and a.worktime &lt;= ${param4} and a.worktime &gt; ${param4-5}
  			</if>
  			<if test="param4 == 20">
  				and a.worktime &gt;= ${param4-5}
  			</if>
  		</if>
  		group by a.realname order by a.weight  desc
	</select>
	
	<select id="findEmployeeByAgencyId" resultMap="BaseResultMap">
		select * from zf_agencyemployee a where a.agencyid=#{param1}
	</select>
	
	<select id="findEmployeeById" resultMap="BaseResultMap">
		select * from zf_agencyemployee a where a.id=#{0}
	</select>
	
	<select id="findOtherByUserId" parameterType="com.jingyuan.zhifeng.entity.ZFAgencyemployee" resultMap="BaseResultMap">
		select * from zf_agencyemployee a where a.agencyid = #{param1} and a.id != #{param2}
		<if test="param3 != null">
  			limit #{param3}
  		</if>
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap">
		select * from zf_agencyemployee a where a.id = #{0}
	</select>

</mapper>