<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingyuan.zhifeng.repository.ZFNewsMapper" >
  <resultMap id="BaseResultMap" type="com.jingyuan.zhifeng.entity.ZFNews" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="visitors" property="visitors" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jingyuan.zhifeng.entity.ZFNews" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category, title, picture, visitors, createtime, updatetime, enabled
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zf_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByCategory" resultMap="ResultMapWithBLOBs" parameterType="String">
		select * from zf_news n where n.category = #{param1} order by n.createtime desc
	</select>
  <select id="findAll" resultMap="ResultMapWithBLOBs">
		select * from zf_news n order by n.createtime desc
  </select>
  <select id="searchByTitle" resultMap="ResultMapWithBLOBs" parameterType="String">
		select * from zf_news n where n.title like concat('%',#{0},'%') order by n.createtime desc
  </select>
  <select id="searchNews" resultMap="ResultMapWithBLOBs" parameterType="String">
		select * from zf_news n where ((n.title like concat('%',#{0},'%')) or (n.content like concat('%',#{0},'%'))) order by n.createtime desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zf_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingyuan.zhifeng.entity.ZFNews" >
    insert into zf_news (id, category, title, 
      picture, visitors, createtime, 
      updatetime, enabled, content
      )
    values (#{id,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{visitors,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{enabled,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jingyuan.zhifeng.entity.ZFNews" keyProperty="id" useGeneratedKeys="true">
    insert into zf_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="category != null" >
        category,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="visitors != null" >
        visitors,
      </if>
        createtime,
        updatetime,
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="visitors != null" >
        #{visitors,jdbcType=INTEGER},
      </if>
      now(),
      now(),
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jingyuan.zhifeng.entity.ZFNews" >
    update zf_news
    <set >
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="visitors != null" >
        visitors = #{visitors,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>