<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 全局配置打印所有的sql -->
	<settings>
        <setting name="logPrefix" value="dao."/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	<typeAliases>
		<typeAlias alias="Class" type="com.jingyuan.zhifeng.entity.Class"/>
		<typeAlias alias="Inbox" type="com.jingyuan.zhifeng.entity.Inbox"/>
		<typeAlias alias="Student" type="com.jingyuan.zhifeng.entity.Student"/>
		<typeAlias alias="StudyDatas" type="com.jingyuan.zhifeng.entity.StudyDatas"/>
		<typeAlias alias="SysAdmin" type="com.jingyuan.zhifeng.entity.SysAdmin"/>
		<typeAlias alias="Teacher" type="com.jingyuan.zhifeng.entity.Teacher"/>
		<typeAlias alias="ClassExample" type="com.jingyuan.zhifeng.entity.ClassExample"/>
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<property name="pageSizeZero" value="true" />
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>

	<!-- 指定映射文件 -->
	<mappers>
		<mapper resource="com/jingyuan/zhifeng/repository/impl/ClassMapper.xml"/>
		<mapper resource="com/jingyuan/zhifeng/repository/impl/InboxMapper.xml"/>
		<mapper resource="com/jingyuan/zhifeng/repository/impl/StudentMapper.xml"/>
		<mapper resource="com/jingyuan/zhifeng/repository/impl/StudyDatasMapper.xml"/>
		<mapper resource="com/jingyuan/zhifeng/repository/impl/SysAdminMapper.xml"/>
		<mapper resource="com/jingyuan/zhifeng/repository/impl/TeacherMapper.xml"/>
	</mappers>
	
</configuration>  