<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 全局配置打印所有的sql -->
	<settings>
        <setting name="logPrefix" value="dao."/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	<typeAliases>
		
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<property name="pageSizeZero" value="true" />
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>

	<!-- 指定映射文件 -->
	<mappers>
	</mappers>
	
</configuration>  