<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ZFAddress" type="com.jingyuan.zhifeng.entity.ZFAddress" />
		<typeAlias alias="ZFAgency" type="com.jingyuan.zhifeng.entity.ZFAgency" />
		<typeAlias alias="ZFAgencyemployee" type="com.jingyuan.zhifeng.entity.ZFAgencyemployee" />
		<typeAlias alias="ZFIndustryc" type="com.jingyuan.zhifeng.entity.ZFIndustryc" />
		<typeAlias alias="ZFNeed" type="com.jingyuan.zhifeng.entity.ZFNeed" />
		<typeAlias alias="ZFUser" type="com.jingyuan.zhifeng.entity.ZFUser" />
		<typeAlias alias="ZFAddressExample" type="com.jingyuan.zhifeng.entity.ZFAddressExample"/>
		<package name="com.jingyuan.zhifeng.entity"/>
	</typeAliases>
	
	<environments default="development">
        <environment id="development">
        <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <property name="driver" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/zhifeng?characterEncoding=UTF-8&amp;useUnicode=true" />
            <property name="username" value="root"/>
            <property name="password" value="545286400"/>
            </dataSource>
        </environment>
    </environments>
    
	<!-- 指定映射文件 -->
	<mappers>
		<mapper resource="com/jingyuan/zhifeng/repository/mapper/ZFAddressMapper.xml" />
		<mapper resource="com/jingyuan/zhifeng/repository/mapper/ZFAgencyemployeeMapper.xml" />
		<mapper resource="com/jingyuan/zhifeng/repository/mapper/ZFAgencyMapper.xml" />
		<mapper resource="com/jingyuan/zhifeng/repository/mapper/ZFIndustrycMapper.xml" />
		<mapper resource="com/jingyuan/zhifeng/repository/mapper/ZFNeedMapper.xml" />
		<mapper resource="com/jingyuan/zhifeng/repository/mapper/ZFUserMapper.xml" />
	</mappers>
</configuration>  