/**********后台管理专用************/
.contain{
	width:100%;
	height:1500px;
	margin:0 auto;
	position:relative;
	overflow: hidden
}
.bg{
	transform:skew(-30deg,0);
	-ms-transform:skew(-30deg,0); 	/* IE 9 */
	-moz-transform:skew(-30deg,0); 	/* Firefox */
	-webkit-transform:skew(-30deg,0); /* Safari 和 Chrome */
	-o-transform:skew(-30deg,0); 	/* Opera */
}
.bg01{
	width:50%;
	height:63px;
	float:left;
	box-shadow:0 5px 5px #eee;
	background:#4A89DC;
	position:absolute;
	top:0;
	left:0;
}
.bg02{
	width:50%;
	height:63px;
	float:left;
	box-shadow:0 5px 5px #eee;
	background:#F5F5F5;
	position:absolute;
	top:0px;
	right:0;
}
/********************head begin***********************/
.head{
	width:100%;
	height:100px;
}
.head .container{
	margin:0 auto;
	position:relative;
}
.lhead{
	width:300px;
	height:63px;
	overflow: hidden;
	position:relative;
	float:left;
	z-index:2;
}
.lhead .bg{
	width:100%;
	height:100%;
	position:relative;
	left:-32px;
	box-shadow:0 5px 5px #eee;
	background:#4A89DC;

}
.lhead img{
	position:absolute;
	top:0;
	left:0;
}
.lhead .text{
	font-size:15px;
	color:#fff;
	font-weight:normal;
	position:absolute;
	bottom:20px;
	right:50px;	
}
.rhead{
	width:725px;
	height:80px;
	position:absolute;
	top:0;
	right:20px;
}
.rhead .bg{
	width:725px;
	height:100%;
	position:relative;
	left:0;
	box-shadow:0 5px 5px #eee;
	background:#F5F5F5;
}
.rhead .rhead-top{
	width:630px;
	font-size:16px;
	line-height:30px;
	position:absolute;
	top:10px;
	left:70px;
}
.rhead .rhead-bottom{
	position:absolute;
	bottom:10px;
	left:70px;
}
.rhead-top-left{
	float:left;
}
.rhead-top-left .authority img{
	position: relative;
	top:5px;
}
.rhead-top-right{
	float:right;
}
.rhead-bottom a{
	font-weight:700;
	margin-right:90px;
}
/********** begin**************/
/*********** end*************/

/*********************head end**********************/

/********************content begin***********************/
.content{
	width:980px;
	margin:0 auto;
	overflow:hidden;
}
.content-head{
	width:980px;
	height:40px;
}
.content-head .welcome{
	width:200px;
	font-size:20px;
	float:left;
}
.content-head-sitemap{
	width:770px;
	float:left;
	position:relative;
}
.content-head-sitemap .bg{
	width:780px;
	height:40px;
	background:#4A89DC;
	position:absolute;
	top:0;
	right:-22px;
	z-index:-1;
}
.content-head-sitemap{
	font-size:16px;
	line-height:40px;
	color:#fff;
}
.content-head-sitemap a{
	color:#fff;
}
.content-head-sitemap div{
	margin-left:40px;
}

/********** content-middle begin**************/
.content-lmanul{
	width:200px;
	overflow:hidden;
	float:left;
	position:relative;
}
.content-rform{
	width:780px;
	float:right;
	padding:30px;
	border:1px solid #eee;
	border-top:none;
}
/********** lmanul begin**************/
.closeManul{
	width:150px;
	height:40px;
	float:right;
	margin-bottom:20px;
	position:relative;
}
.closeManul .bg{
	width:150px;
	height:40px;
	background:#4A89DC; 
	position:absolute;
	right:-20px;
	z-index:-1;
}
.closeManul a{
	width:150px;
	text-align: center;
	font-size:16px;
	line-height:40px;
}
.bg04{
	width:180px;
	height:40px;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	box-shadow:-3px 0px 3px #DDD;
	background: none;
	position:absolute;
	top:24px;
	left:13px;
	z-index:-3;
}
.first-manul{
	width:200px;
	float:left;
	position:relative;
}
.smallbg{
	width:10px;
	height:10px;
	background: #676767;
	position:absolute;
	bottom:-10px;
	left:28px;
	z-index:-999;	
	transform:skew(50deg,0);
	-ms-transform:skew(50deg,0); 	/* IE 9 */
	-moz-transform:skew(50deg,0); 	/* Firefox */
	-webkit-transform:skew(50deg,0); /* Safari 和 Chrome */
	-o-transform:skew(50deg,0); 	/* Opera */
}
.bg03{
	width:10px;
	height:100%;
	box-shadow:-3px 0px 3px #DDD;
	background:#fff;
	position:absolute;
	top:5px;
	left:5px;
	z-index:0;
}
.first-manul > li,
.second-manul > li{
	position:relative;
}
.first-manul > li > a,
.second-manul > li > a{
	width:195px;
	height:40px;
	font-size:15px;
	line-height:40px;
	padding-left:40px;
	margin-bottom:2px;
	background:#F4F4F4;
	float:right
}
.first-manul > li > a{
	width:150px;
	background: #AAA;
	margin:4px 0;
	float:left;
}
.second-manul > li > a:hover{
	background:#E4E4E4;
}
.first-manul > li >.bg{
	width:175px;
	height:40px;
	float:left;
	background:#AAA;
	position:absolute;
	left:-10px;
	top:4px;
	z-index:-1;
}
.first-manul > .selected > .bg{
	background:#72B42C;
}
.first-manul > .selected > .bg > .smallbg{
	background:#1D7843;
}
.first-manul > .selected > a{
	background:#72B42C;
}
.second-manul > li > a.selected{
	background:#E0E0E0;
}
/*********** lmanul end*************/

/********** rform begin**************/
.content-rform form > ul > li{
	width:100%;
	margin:10px 0;
	vertical-align:middle;
}
.content-rform label.longtitle,
.content-rform label.title{
	width:110px;
	font-size:15px;
	font-weight:600;
	color:#434343;
	display: inline-block;
	text-align: right;
}
.content-rform label.title{
	height:40px;
	line-height:40px;
}
.content-rform label.longtitle{
	vertical-align: middle;
}
.content-rform label.longtitle span{
	display: inline-block;
	width:76px;
	text-align: left;
}
.content-rform input{
	height:43px;
	padding-left: 10px;
	border:2px solid #E5E5E5;
}
.content-rform textarea{
	width:340px;
	height:100px;
	padding: 10px;
	border:2px solid #E5E5E5;
	resize:none;
}
.content-rform input.long{
	width:497px;
}
.content-rform input.short{
	width:340px;
}
.inputlist{
	width:605px;
	float:right;
	display: inline-block;
}
.col{
	position:relative;
	display: inline-block;
	vertical-align: middle;
}
.sel-wrap{
	height:40px;
	display: inline-block;
}
.col option{
	line-height:45px;
}

.col label,
.col select{
	height:45px;
	font-size:18px;
	line-height:40px;
	font-weight:normal;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	text-indent:1em;
}
.col select{
	width:193px;
	height:45px;
	color:#000;
	border:none;
}
.col-arrow_down{
	float:right;
	padding-right:8px;
}
.col select{
	z-index:4;
	opacity:0;
}
.sel-wrap{
	text-align:left;
}
.col_orange{
	width:193px;
	height:45px;
	color:#fff;
	background:#FFB03A;
}
.col_orange label{
	width:193px;
	border:2px solid #FFB03A;
}
.col_area{
	width:140px;
	height:45px;
	font-size:14px;
	color:#000;
}
.col_area .sel-wrap label{
	border:1px solid #ccc;
	font-size:14px;
}
.col_area select{
	width:140px;
	height:45px;
	color:#000;
}
.col_area label{
	width:140px;
	height:45px;
}
.typeoforgnization{
	width:600px;
	float:right;
}
.typeoforgnization li{
	float:left;
}
.typeoforgnization > li > label{
	height:32px;
	line-height:32px;
	padding-right:15px;
}
.typeoforgnization > li > label .val{
	vertical-align: middle;
}
.typeoforgnization input[type=checkbox]{
	height:0px;
	display: none;
}
.typeoforgnization input[type=checkbox]  ~ label .box{
	width:23px;
	height:23px;
	background:url("../images/icon-images/unselected.png") no-repeat;
	background-position: center;
	vertical-align: middle;
}
.typeoforgnization input[type=checkbox]:checked  ~ label .box{
	background:url("../images/icon-images/selected.png") no-repeat;
}
.content-rform .submit{
	width:110px;
	height:40px;
	background:#FC6E51;
	border:none;
	border-radius:5px;
	margin-left:113px;
}
.inputlist .notice{
	padding:0;
}
.inputlist input{
	margin-bottom:10px;
}
.addInput{
	color:#f00;
	padding-left:120px;
}
/*********** rform end*************/

/*********** content-middle end*************/

/*********************content end**********************/

/********************foot begin***********************/
.footer{
	width:100%;
	height:60px;
}
.footer_middle{
	width:550px;
	margin:0 auto;
	font-size:12px;
	line-height: 60px;
	color:#AAB2BD;
}
/********** begin**************/
/*********** end*************/
/*********************foot end**********************/