/**********后台登陆专用************/
*{
	margin:0px;
	padding:0px;
	box-sizing:content-box;
}
html,body{
	height:100%;
}
.contain{
	width:100%;
	height:100%;
	margin:0 auto;
	position:relative;
}
/********************head begin***********************/
.head{
	width:100%;
	height:120px;
}
.head .colorshadow{
	width:100%;
	height:120px;
	background:linear-gradient(rgba(161,193,247,1),rgba(255,255,255,1));
	background:-webkit-linear-gradient(rgba(161,193,247,1),rgba(255,255,255,1));
	background:-moz-linear-gradient(rgba(161,193,247,1),rgba(255,255,255,1));
	background:-o-linear-gradient(rgba(161,193,247,1),rgba(255,255,255,1));
}
/********** begin**************/
/*********** end*************/
/*********************head end**********************/

/********************content begin***********************/
.content{
	width:1000px;
	margin:0 auto;
}
/**********lcolumn begin**************/
.lcolumn{
	width:450px;
	float:left;
}
.lcolumn img{
	float:right;
}
/***********lcolumn end*************/

/**********rcolumn begin**************/
.rcolumn{
	width:496px;
	height:357px;
	box-shadow:10px 0px 10px #E9E8E9,0px 10px 10px #E9E8E9,-10px 0px 10px #E9E8E9,0px -10px 10px #E9E8E9;
	float:right;
}
.rcolumn-head{
	height:62px;
	margin:25px 25px 0;
	border-bottom:2px dashed #aaa;
}
.logo img {
	padding:0 20px 0 0;
	border-right:2px solid #959595;
}
.text-right{
	width:250px;
	font-size:20px;
	font-weight:300;
	color:#787878;
	float:right;
}
.text-right .eng{
	font-size:13px;
}
.rcolumn-content{
	padding:5px 25px 25px;
	background:#eee;
}
.rcolumn-content div{
	margin:20px 0 0;
}
.loginform-typein{
}
.loginform-typein > label{
	width:90px;
	font-weight:700;
	display: inline-block;
}
.loginform-typein > input{
	width:336px;
	height:37px;
	padding-left:10px;
	border:2px solid #E5E5E5;
}
.loginform .loginform-remember{
	margin-left:95px;
}
.loginform-submit input{
	width:173px;
	height:55px;
	font-size:24px;
	color:#fff;
	line-height:55px;
	border:none;
	border-radius:5px;
	background:#FB6E52;
	margin-left:95px;
}
/***********rcolumn end*************/

/*********************content end**********************/

/********************foot begin***********************/
.footer{
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
}
.footer_middle{
	width:550px;
	margin:0 auto;
	font-size:12px;
	line-height: 60px;
	color:#AAB2BD;
}
/********** begin**************/
/*********** end*************/
/*********************foot end**********************/