body *{
	  font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","STHeiti",SimHei,sans-serif;
}
@font-face {
  font-family:'iconfont';
  src:url('http://at.alicdn.com/t/font_1428367529_1946895.ttf')format('truetype');/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.iconfont:before{
	font-family:iconfont;
}
.iconfont-publish:before{
	content:"\e601";
}
.iconfont-search:before{
	content:"\e600";
}
.iconfont-user:before{
	content:"\e604";
}
.iconfont-drop:before{
	content:"\e602";
}
.iconfont-msg:before{
	content:"\e603";
}
.iconfont-msg1:before{
	content:"\e605";
}
.iconfont-woso:before{
	content:"\e606";
}
.icon-star:before{
    content:"\e609";
}
.icon-emptystar:before{
    content:"\e608";
}
.icon-halfstar:before{
    content:"\e607";
}
.icon-heart:before{
    content:"\e60a";
}
.icon-rightpointer:before{
    content: "\e60b";
}
.icon-uppointer:before{
    content: "\e60c";
}
.icon-del:before{
    content: "\e60e";
}
.icon-calender:before{
    content: "\e60f";
}
.icon-naozhong:before{
     content: "\e611";
}
.icon-dianhua:before{
     content: "\e610";
}
.icon-tip:before{
    content: "\e613";
}
.icon-home:before{
    content: "\e614";
}
.icon-backpage:before{
    content: "\e615";
}
.icon-wenhao:before{
    content: "\e616";
}
.icon-laba:before{
      content: "\e617";
}
.icon-lock:before{
      content: "\e618";
}
.icon-shortwait:before{
      content: "\e619";
}
.icon-nopower:before{
      content: "\e61a";
}
.icon-key:before{
      content: "\e61b";
}
.icon-edit:before{
      content: "\e61c";
}
.container{width:980px ! important;padding:0px ! important;}
/*************header****************/
.header{width:100%;
	height:30px;
	background-color:#F5F5F5;}
.left-header{width:230px;float:left;}
.left-header span:nth-of-type(1){
	line-height:30px;
	font-family:微软雅黑;
	font-size:14px;
	color:#000000;}
.left-header span:nth-of-type(2){
	line-height:30px;
	font-family:微软雅黑;
	font-size:16px;
	color:#FF9417;}
.left-header a{line-height:30px;
	font-family:微软雅黑;
	font-size:16px;
	color:#FF9417;
	margin:0px 5px;}
.left-header a:hover{text-decoration:none;}	
.middle-header{width:480px;float:left;}
.middle-header span{font-family:微软雅黑;
	font-size:14px;
	color:#000000;
    line-height:30px;}
.right-header{width:270px;float:left;}
.right-header span{font-family:微软雅黑;
	font-size:14px;
	color:#000000;
    line-height:30px;}
.right-header a{font-family:微软雅黑;
	font-size:14px;
	color:#000000;
    line-height:30px;
    margin:0px 10px;}
/*************footer******************/
.footer{width:100%;
	height:110px;
    margin-top:50px;
    background-color:#F5F5F5;}
.left-footer{width:180px;
    margin-left:20px;
    height:110px;
    float:left;}
.left-footer img{margin-left: 20px;
    margin-top: 20px;}
.middle-footer{width:600px;
    height:110px;
    float:left;}
.middle-footer1{height:30px;
    width:100%;
    margin-top:20px;
    padding-right:110px;}
.middle-footer1 a{font-family:微软雅黑;
    font-size:14px;
    color:#000000;}
.middle-footer1 span{font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    margin:0px 13px;}
.middle-footer2{margin-top:20px;}
.middle-footer2 span{font-family:微软雅黑;
   font-size:12px;
   color:#AAB2BD;
   margin-right:20px;}
.right-footer{width:160px;
    height:110px;
    margin-right:20px;
    float:left;}
.right-footer div{width: 105px;
	height: 135px;
	box-shadow: 0px 0px 10px #AAAAAA;
	position: absolute;
	margin-top: -30px;}
.right-footer div span{margin-left: 5px;
    line-height: 32px;}
.right-footer div img{margin-left:4px;}
/*******************nmove**************************/
.nmove{position:fixed;
    width:130px;
    height:330px;
    right: 0px;
    bottom:100px;
    text-align:center;}
.nmove-a1{display:inline-block;
    width:100%;
    height:35px;
    background-color:#FF9417;
    color:#FFFFFF;
    line-height:35px;
    font-size:16px;
    }
.nmove-a1:hover{color:#FFFFFF;}
.nmove-a2:hover{color:#FFFFFF;}
.x-div1{width:106px;
    height:10px;
    margin:0 auto;
    background-color:#87551A;
    transform:skew(-70deg,0deg);
    -webkit-transform:skew(-70deg,0deg);
    -o-transform:skew(-70deg,0deg);}
.x-div2{width:106px;
    height:10px;
    margin:0 auto;
    background-color:#108523;
    transform:skew(-70deg,0deg);
    -webkit-transform:skew(-70deg,0deg);
    -o-transform:skew(-70deg,0deg);}
.nmove-span1{
    display:inline-block;
    width:100%;
    height:35px;
    background-color:#36C14C;
    color:#FFFFFF;
    line-height:35px;
    font-size:16px;
}
.nmove-span2{
    display:inline-block;
    width:100%;
    height:35px;
    background-color:#36C14C;
    color:#FFFFFF;
    line-height:35px;
    font-size:16px;
}
.nmove-div{width:100%;
    height:130px;
    background-color:#36C14C;}
.nmove-div>a>span{color: #FFFFFF;
    font-size: 60px;
    display: block;
    margin-top: 20px;}
.nmove-div a{display:inline-block;
    width:100%;
    height:100%;
    color:#FFFFFF;
    line-height:35px;
    font-size:16px;}
.nmove-a2{display:inline-block;
    width:100%;
    height:35px;
    background-color:#377BEE;
    color:#FFFFFF;
    line-height:35px;
    font-size:16px;
    margin-top:20px;}
//清除浮动
.clearfix { 
  zoom: 1; 
} 
.clearfix:before, .clearfix:after { 
  display: table; 
  content: ""; 
} 
.clearfix:after { 
  clear: both; 
} 
 /*表单通用样式*/
 .formtitle,.formcontent{
 	display:inline-block;

 }
 .form-input{
 	border: 1px solid #ccc;
box-shadow: 0 0 2px #ccc;
padding-left: 10px;
 }
 .warn-border{
    border:1px solid #f46 ! important;
    box-shadow: 0 0 4px #f46;
 }
 /*省略号*/
 .shenglve{
    white-space：nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
 }
 /*分页条*/

 .paginator-bar{
    margin:  0 auto;
    text-align: center;
 }
 .unvisible{
    display: none ! important;
 }
 .visible{
    display: block ! important;
 }
 .pagination>li>a{
 cursor:pointer;
 }
 /*为空*/
 .emptycontent-box{
   font-weight: 600;
font-size: 17px;
color: #777;
text-align: center;
margin: 0 auto;
width: 250px;
height: 200px;
line-height: 200px;
 }
 .emptyicon{
    font-size: 21px;
line-height: 19px;
margin-right: 5px;
 }
 /*图片原比例居中*/
 .imgCenter{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
 }
 /*a*/
 a:hover{
    text-decoration: none ! important;
 }
 /*网站建设中*/
 .build-top{
    margin-top: 20px;
 }
 .underConstruction {
    width: 600px;
    height: 360px;
    margin: 50px auto 0;
 }
  .underConstruction >a{
    display: block;
text-align: center;
  }
  .building-words1{
color: #777;
font-size: 24px;
text-align: center;
  }
  .building-words2{
    color: #666;
font-size: 18px;
text-align: center;
  }
  .build-img>a{
    display: block;
text-align: center;
  }
  .build-img>a>img{
    width: 180px;
  }
   /*网站错误*/
.err-img>a{
    display: block;
text-align: center;
}
.err-img>a>img{
    width: 190px;
}
.err-words1{
    text-align: center;
    margin-top: 10px;
}
 .err-words1>a{
    color: #777;
    font-size: 15px;
    text-align: center;
    color: #666;
    margin:0 20px;
  }
  .err-words1>a>span{
    font-size: 19px;
margin-right: 3px;
  }
 /*网站权限*/
 .withoutpower{
      font-size: 66px;
  color: #999;
  transform: rotate(9deg);
  position: relative;
  left: -12px;
 }
  .widthoutpowerwords{  
      color: #888;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  }
  .withoutpower-key{
   transform: rotate(-37deg);
  font-size: 30px;
  color: #999;
  position: absolute;
  top: 44px;
  left: 328px;
  }
  /*不可见提示*/
  .lock-area{
      background-color: #ffeed2;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #f29900;
  font-size: 14px;
  font-weight: 600;
  border: 1px dashed #ddd;
  margin: 40px 10px;
  }
  .lock-area>span:first-child{
    font-size: 20px;
  position: relative;
  top: -2px;
  }
.lock-area>span:last-child{
  position: relative;
  top: -2px;
  }
 .pass-strong1{
 	display:inline-block;
 	width:120px;
 	height:14px;
 	border-radius:7px 0 0 7px;
 	background-color:#ccd1d9;
 	transition:all 200ms;
 }
  .pass-strong2{
 	display:inline-block;
 	width:120px;
 	height:14px;
 	background-color:#ccd1d9;
 	margin: 0 3px;
 	transition:all 200ms;
 }
  .pass-strong3{
 	display:inline-block;
 	width:120px;
 	height:14px;
 	border-radius: 0 7px 7px 0 ;
 	background-color:#ccd1d9;
 	transition:all 200ms;
 }
 
/*角*/
.left-corner-i{
position: absolute;
top: 90px;
left: -20px;
display: block;
height: 0;
width: 0;
font-size: 0;
line-height: 0;
border-color: transparent #dce0e0 transparent transparent;
border-style: dashed solid dashed dashed;
border-width: 10px;

}
.left-corner-i>i{
position: absolute;
top: -10px;
left: -9px;
display: block;
height: 0;
width: 0;
font-size: 0;
line-height: 0;
border-color: transparent #fff transparent transparent;
border-style: dashed solid dashed dashed;
border-width: 10px;
}
.showExtraBox{
	border:1px solid #eee;
	width:310px;
	height:200px;
	padding:10px;
	position:absolute;
	background-color:#fff;
	box-shadow:0 0 4px #666;
}
.showExtraBox-inner{
	width:290px;
	height:180px;
}
.showExtraBox-inner>img{
  max-height: 180px;
  max-width: 290px;
}
 .loading-img{
   position:fixed;
   left: 50%;
   top:45%;
 }
 .new_logo{
 	background:url(/showimg?url=images/icon-images/new_logo.png ) no-repeat 2px 2px;
 	width:30px;
 	height:15px;
 	float:left ! important;
 }
 .ajax-search-btn{
 	  width: 97px;
  height: 42px;
  border: none;
  margin-left: 5px;
  background-color: #377BEE;
  color: #fff;
  transition:all 200ms;
 }
 .ajax-search-btn:hover{
  background-color: #4788F5;
 }
.ajax-search-btn:active{
	  background-color: #2970E8;
  box-shadow: 0 0 3px #1D4CA8 inset;
}