a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
ul{list-style:none;
   padding:0px;
   margin:0px;}
li{list-style: none;}
/**************index*****************/
.index{height:160px;clear:both;}
.left-index{margin-top:36px;
	height:100px;
	width:230px;
	float:left;}
.left-index img{margin-left:35px;}
.left-index span:nth-of-type(1){display: inline-block;
    color: #73B52D;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    text-align: center;}
.left-index span:nth-of-type(2){display: inline-block;
    font-size: 17px;
    width: 100%;
    text-align: center;}
.middle-index{margin-top:36px;
	height:100px;
	width:480px;
	float:left;}
.index-top{height:40px;
	width:100%;}
.index-top span{font-family:微软雅黑;
    font-size:18px;
    color:#000000;
    line-height:34px;
    padding:6px 14px;
    cursor:pointer;}
.index-top-active{background-color:#73B52D;
	color:#FFFFFF ! important;}
.index-middle{height:40px;
    width:100%;}
.index-middle input{text-indent:3em;
    width:388px;
	height:40px;
	line-height:40px;
    font-family:微软雅黑;
    font-size:14px;
    color:#AAAAAA;
    border:2px solid #73B52D;}
.index-middle span{font-size: 20px;
    color: #AAAAAA;
    position: absolute;
    margin-left: 10px;
    line-height: 40px;}
.index-middle button{width:64px;
	height:40px;
	background-color: #73B52D;
    border: none;
    color:#FFFFFF;
    font-family:微软雅黑;
    font-size:18px;}
.index-bottom{height:20px;
    width:100%;
    padding-top:6px;}
.index-bottom a{font-family:宋体;
	font-size:14px;
	color:#7D7D7D;
	margin-right: 9px;}
.index-bottom a:hover{text-decoration:none;
	color:#F9A821;}
.right-index{margin-top:42px;
	height:92px;
	width:270px;
	float:left;
    text-align: center;}
.right-index img{margin:10px 15px;}
.right-index span{
    font-family: 微软雅黑;
    font-size: 14px;
    color:#FF9417;
    font-weight:bold;
}
.right-index div:nth-of-type(1){height:96px;
     width:82px;
     border:2px solid #FF9417;
     float:left;
     margin-right:12px;}
.right-index div:nth-of-type(1) a{width: 100%;
    height: 100%;
    display: inline-block;}
.right-index div:nth-of-type(2){height:96px;
     width:82px;
     border:2px solid #FF9417;
     float:left;
     margin-right:12px;}
.right-index div:nth-of-type(2) a{width: 100%;
    height: 100%;
    display: inline-block;}
.right-index div:nth-of-type(3){height:96px;
     width:82px;
     border:2px solid #FF9417;
     float:left;}
.right-index div:nth-of-type(3) a{width: 100%;
    height: 100%;
    display: inline-block;}
/**********************middle*********************/
.middle{}
.note{width:100%;
	height:30px;
	background-color:#FFEED1;
	margin-top:20px;
    text-align:center;}
.note a{color:#F39700;
	font-size:14px;
	font-family:微软雅黑;
    line-height:30px;}
.content{margin-top:20px;
	width:100%;
    height:auto;}

/*************left-content****************/
.left-content{width:688px;
	height:auto;
	margin-right:22px;
    float:left;}
.left-icon-image{margin-top: 8px;
    float:left;
    margin-right:5px;}
/**************1**************/
.left-content1{width:100%;
	height:360px;
	border:1px solid #AAAAAA;
    background-color:#F0F2F6;
    background-image: url(../images/background-images/bj1.png)}
.left-content1-header{height:45px;
	width:648px;
	margin:0 auto;
    border-bottom:1px solid #AAAAAA;}
.left-content1-header span{font-family:微软雅黑;
	font-size:18px;
	color:#73B52D;
    line-height:45px;}
.left-content1-content {width:648px;
    height:315px;
    margin:0 auto;} 
.left-content1-content-search{height:250px;
	width:100%;} 
.srk{height:50px;padding-top:20px;} 
.srk span:nth-of-type(1){display:inline-block;
	width:80px;
	height:30px;
	line-height:30px;
    font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    font-weight:600;}
.srk span:nth-of-type(2){
    line-height:30px;
    font-size:14px;
    color:#377BEE;
    position:absolute;
    margin-left: -18px;
}
.srk input{width:365px;
	height:30px;
	border-radius:4px;
	border: 1px solid #AAAAAA;}
.srk button{width:365px;
	height:30px;
	border:1px solid #AAAAAA;
	background-color:#FFFFFF;
    border-radius:4px;}
.srj{height:55px;
	padding-top:20px;
	padding-left:83px;}
.srj input{height:35px;
	width:365px;
	background-color:#377BEE;
	font-family:微软雅黑;
	font-size:16px;
	color:#FFFFFF;
    border:none;
    border-radius:4px;}
.left-content1-content-hot{height:65px;
	width:100%;}
.left-content1-content-hot span{display:inline-block;
	width:80px;
	height:65px;
    line-height:80px;
    font-family: 微软雅黑;
    font-size:14px;
    color:#000000;}
.left-content1-content-hot a{font-family:微软雅黑;
    font-size:14px;
    color:#E9573F;
    margin-right:20px;
    line-height:80px;}
.left-content1-content-hot a:hover{color:#428bca ! important;}
/*************2*****************/
.left-content2{height:150px;
	width:688px;
	border:1px solid #AAAAAA;
    /*margin-top:20px;*/}
.left-content2 ol{position:relative;width:165px;height:30px;top:-30px;right:20px;float:right;}
.left-content2 ol li{float:left;width:15px;height:15px;margin:5px;background:#8DB8E1;}
.left-content2 ol li.seleted{background:#377BEE;}
.luara-left{position:relative;padding:0;overflow: hidden;}
.luara-left ul{position: relative;padding: inherit;margin: 0;}
.luara-left ul li{float: left;padding: inherit;margin: inherit;list-style: none;}
.luara-left ul li a{width: inherit;height: inherit;}
.luara-left ul li a img{width: inherit;height: inherit;}
/**************3******************/
.left-content3{height:156px;
    width:688px;
    border:1px solid #AAAAAA;
    margin-top:20px;}
.left-content3-header{height:45px;
	width:648px;
    margin:0 auto;
    border-bottom:1px solid #AAAAAA;}
.left-content3-header span{font-family:微软雅黑;
	font-size:18px;
	color:#73B52D;
    line-height:45px;}
.left-content3-header a{font-family: 微软雅黑;
    font-size:12px;
    color:#377BEE;
    float:right;
    line-height:55px;}
.left-content3-header a:hover{color:#FF9417 ! important;}
.left-content3-content{padding:10px 0px;
	height:111px;
    width:668px;
    margin-left:20px;}
.left-content3-content div{width:314px;
	height:34px;
	float:left;
	margin-right:20px;}
.left-content3-content div a{font-family: 微软雅黑;
    font-size:14px;
    color:#000000;
    line-height:25px;
    display:inline-block;
    float:left;
    width:210px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;}
.left-content3-content div a:hover{color:#428bca ! important;}
.left-content3-content div span{float:right;
    font-family: 微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:25px;}
/**************4*****************/
.left-content4{height:690px;
    width:688px;
    margin-top:20px;
    border:1px solid #AAAAAA;}
.left-content4-header{height:45px;
    width:648px;
    margin:0 auto;
    margin-top:10px ! important;
    border-bottom:1px solid #AAAAAA;}
.left-content4-header-span{font-family:微软雅黑;
	font-size:18px;
	color:#73B52D;
    line-height:45px;
    display:inline-block;
    float:left;}
.left-content4-header div{
	float:left;
	width:350px;
	height:45px;
	padding-top:15px;
	margin-left:20px;
}
.left-content4-header div span{
	color:#000000;
	font-size:18px;
    font-family:微软雅黑;
    padding:6px 14px;
    cursor:pointer;}
.left-content4-header-active{background-color:#377BEE;
    color:#FFFFFF ! important;}
.left-content4-header a{font-family: 微软雅黑;
    font-size:12px;
    color:#377BEE;
    float:right;
    line-height:35px;
    padding-top:10px;
    display:inline-block;}
.left-content4-header a:hover{color:#FF9417 ! important;}
.left-content4-content{
	height:635px;
	width:648px;
	position: absolute;
    margin-left: 20px;}
#left-content4-content1{display:block;}
#left-content4-content2{display:none;}
#left-content4-content3{display:none;}
#left-content4-content4{display:none;}
.left-content4-content-div{
	width:100%;
	height:317px;
	border-bottom:1px dashed #AAAAAA;
	float:left;
}
.lz-top{height:110px;
	width:100%;
    padding-top:20px;
    float:left;}
.lz-top1{
	width:100px;
	height:110px;
	float:left;}
.lz-top1 img{
	height:82px;
	width:82px;
	border-radius:50%;}
.lz-top2{
	width:166px;
	height:110px;
	float:left;}
.lz-top2 div{width:100%;
	height:42px;}
.lz-top2 div a{
	display:inline-block;
	width:83px;
	font-family:微软雅黑;
    font-size:16px;
    color:#377BEE;
    float:left;
    padding-top:10px;
    line-height:32px;}
.lz-top2 div a:hover{color:#FF9417 ! important;}
.lz-top2 div:nth-of-type(1) span{
	display:inline-block;
	width:83px;
	font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:left;
    padding-top:10px;
    line-height:32px;}
.lz-top2 div:nth-of-type(2) span{
	display:inline-block;
	width:166px;
	font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:left;
    line-height:32px;}
.lz-top3{width:212px;height:110px;float:left;}
.lz-top3 div{width:100%;
	height:42px;}
.lz-top3 div:nth-of-type(1) span{
	display:inline-block;
	width:192px;
	font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:left;
    padding-top:10px;
    line-height:32px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;}
.lz-top3 div:nth-of-type(2) span{
	display:inline-block;
	width:192px;
	font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:left;
    line-height:32px;}
.lz-top4{width:170px;height:110px;float:left;}
.lz-top4 div{width:100%;
	height:42px;}
.lz-top4 div:nth-of-type(1) span{
	display:inline-block;
	width:100%;
	font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:left;
    padding-top:10px;
    line-height:32px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;}
.lz-top4 div:nth-of-type(2) span{
	display:inline-block;
	width:100%;
	font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:left;
    line-height:32px;}
.lz-bottom{height:207px;
	width:648px;
    margin:0 auto;
    float:left;}
.lz-bottom1{height:190px;
    width:100%;
    background-color:#EDF4FA;}
.lz-bottom1-span{
	font-family: 微软雅黑;
	font-size:16px;
	color:#FF9417;
	font-weight: bold;
	line-height:44px;
	margin-left:20px;
} 
.lz-bottom1 div{margin:0px 20px;
	height:75px;
	padding-bottom:20px;
}
.lz-bottom1 div span:nth-of-type(1){
	font-family:微软雅黑;
	font-size:14px;
	color:#000000;
	font-weight:bold;
}
.lz-bottom1 div span:nth-of-type(2){
	font-family:微软雅黑;
	font-size:14px;
	color:#000000;
}
.lz-bottom1 div a{font-family:微软雅黑;
	font-size:14px;
	color:#000000;}
.lz-bottom1 div a:hover{color:#428bca ! important;}
/**************5***************/
.left-content5{
	height:450px;
	width:688px;
    border:1px solid #AAAAAA;
    margin-top:20px;}
.left-content5-header{
	width:686px;
    height:45px;
    padding:0px 20px;
    background-color:#E0F2FF;}
.left-content5-header span{font-family:微软雅黑;
	font-size:18px;
	color:#73B52D;
    line-height:45px;}
.left-content5-header a{font-family: 微软雅黑;
    font-size:12px;
    color:#377BEE;
    float:right;
    line-height:55px;}
.left-content5-header a:hover{color:#FF9417 ! important;}
.left-content5-content{
	height:405px;
	width:686px;
    padding-top:10px ! important;}
.left-content5-content1{
	height:40px;
	width:100%;
    padding:0px 20px;
}
.left-content5-content2{
	height:30px;
	width:100%;
	background-color: #F5F5F5;
    padding:0px 20px;
}
.content5-div-left{width:444px;height:40px;float:left;}
.content5-a{display:inline-block;
    font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    width:210px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    height:40px;
    line-height:40px;
    margin:0px 10px;
    float:left;}
.content5-span1{display:inline-block;
    font-family:微软雅黑;
    font-size:14px;
    color:#AAB2BD;
    line-height:40px;
    height:40px;
    float:left;}
.content5-span2{display:inline-block;
    font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:40px;
    height:40px;
    float:left;}
.content5-div-middle{
	width:110px;
	height:40px;
	float:left;}
.content5-div-middle span{font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:40px;
    height:40px;
    float:right;}
.content5-div-right{
	width:90px;
	height:40px;
	float:left;}
.content5-div-right span{font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:40px;
    height:40px;
    float:right;
    margin-left:10px;}
.content5-div-left2{width:444px;height:30px;float:left;}
.content5-a-1{display:inline-block;
    font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    width:210px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    height:30px;
    line-height:30px;
    margin:0px 10px;
    float:left;}
.content5-span1-1{display:inline-block;
    font-family:微软雅黑;
    font-size:14px;
    color:#AAB2BD;
    line-height:30px;
    height:30px;
    float:left;}
.content5-span2-1{display:inline-block;
    font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:30px;
    height:30px;
    float:left;}
.content5-div-middle2{
	width:110px;
	height:30px;
	float:left;}
.content5-div-middle2 span{font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:30px;
    height:30px;
    float:right;}
.content5-div-right2{
	width:90px;
	height:30px;
	float:left;}
.content5-div-right2 span{font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:30px;
    height:30px;
    float:right;
    margin-left:10px;}
/******************6*******************/
.left-content6{width:688px;
    border:1px solid #AAAAAA;
    margin-top:20px;
    height:620px;}
.left-content6-header{width:686px;
    height:45px;
    padding:0px 20px;
    background-color:#E0F2FF;}
.left-content6-header span{font-family:微软雅黑;
    font-size:18px;
    color:#73B52D;
    line-height:45px;}
.left-content6-header a{font-family: 微软雅黑;
    font-size:12px;
    color:#377BEE;
    float:right;
    line-height:35px;
    padding-top:10px;}
.left-content6-header a:hover{color:#FF9417 ! important;}
.left-content6-content{height:575px;
    width:648px;
    margin:0 auto;}
.article{height:265px;
    width:160px;
    padding:0px 20px;
    padding-top:40px;
    text-align:center;
    float:left;}
.article-a{width:120px;
   height:160px;
   border:1px solid #eee;}
.article a{width:120px;
   height:55px;
   display:inline-block;
   padding:10px 0px;
   font-family:微软雅黑;
   font-size:14px;
   color:#000000;}
.article a:hover{color:#428bca ! important;}
.article span{
    font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
}
/***************right-content**********************/
.right-content{width:270px;
    height:auto;
    float:left;}
.right-icon-image{margin-bottom: 6px;}
/*************1***************/
.right-content1{height:360px;
   width:268px;
   border:1px solid #AAAAAA;}
.right-content1-header{height:45px;
   width:228px;
   margin:0 auto;
   border-bottom:1px solid #AAAAAA;}
.right-content1-header span{
   font-family:微软雅黑;
   font-size:18px;
   color:#73B52D;
   line-height:45px;
}
.right-content1-content1{
    width:228px;
    height:195px;
    margin:0 auto;
    border-bottom:1px solid #AAAAAA;
}
.right-content1-content1-a1{
    display:inline-block;
    width:228px;
    height:46px;
    background-color:#FF9417;
    padding-left: 50px;
    margin-top:25px;
    border-radius:4px;
}
.right-content1-content1-a1:hover{
	background-color:#F48606;
}
.right-content1-content1-a2{
    display:inline-block;
    width:228px;
    height:46px;
    background-color:#66BA34;
    padding-left: 50px;
    margin-top:25px;
    border-radius:4px;
}
.right-content1-content1-a2:hover{
	background-color:#5AB226;
}
.login-span1{
    font-family:微软雅黑;
    font-size:30px;
    color:#FFFFFF;
    line-height:43px;
    margin-right:20px;
    float:left;
}
.login-span{
    font-family:微软雅黑;
    font-size:18px;
    color:#FFFFFF;
    line-height:46px;
    float:left;
}
.login-div{width:228px;
    height:20px;
    margin-top:10px;
    text-align:right;}
.login-div span{font-family:微软雅黑;
   font-size:14px;
   color:#000000;}
.login-div a{
    font-family: 微软雅黑;
    font-size:14px;
    color:#377BEE;
    font-weight:400;
}
.login-div a:hover{color:#FF9417 ! important;}
.right-content1-content2{
    width:228px;
    height:120px;
    margin:0 auto;
}
.right-content1-content2 span:nth-of-type(1){
    line-height:40px;
    font-family:微软雅黑;
    font-size:14px;
    color:#000000;}
.right-content1-content2 span:nth-of-type(2){
    line-height:40px;
    font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    float:right;}
.right-content1-content2 ul{width:228px;
    height:30px;}
.right-content1-content2 ul li{float:left;
   border:1px solid #ccc;
   border-right: none;
   padding:3px 8px;
   font-family:Arial;
   font-size:18px;
   color:#000000;
   font-weight:bold;}
 .right-content1-content2 ul li:last-child{
    border-right:1px solid #ccc;
   }
/**************2****************/
.right-content2{height:150px;
   width:268px;
   border:1px solid #AAAAAA;
   margin-top:20px;
   background-color:#FFF5E3;}
.right-content2-header{width:228px;
    height:45px;
   margin:0 auto;
   border-bottom:1px solid #AAAAAA;}
.right-content2-header span{font-family:微软雅黑;
   font-size:18px;
   color:#73B52D;
   line-height:45px;}
.right-content2-content{width:228px;
   height:105px;
   padding-top:10px;
   margin:0 auto;}
.right-content2-content span{font-family:微软雅黑;
   font-size:14px;
   color:#000000;}  
/**************3****************/
.right-content3{
   width:268px;
   border:1px solid #AAAAAA;
   margin-top:20px;}
.right-content3-header{width:228px;
    height:45px;
   margin:0 auto;
   border-bottom:1px solid #AAAAAA;}
.right-content3-header span{font-family:微软雅黑;
   font-size:18px;
   color:#73B52D;
   line-height:45px;}
.right-content3-header a{font-family: 微软雅黑;
    font-size:12px;
    color:#377BEE;
    float:right;
    line-height:35px;
    padding-top:10px;}
.right-content3-header a:hover{color:#FF9417 ! important;}
.right-content3-content1{
	width: 228px;
margin: 0 auto;
border-bottom: 1px solid #AAAAAA;
padding: 10px 0;
}
.mes-div{height:30px;
    width:228px;}
.mes-div span:nth-of-type(1){font-family:微软雅黑;
    font-size:12px;
    color:#000000;
    line-height:30px;}
.mes-div span:nth-of-type(2){float:right;
    font-family:微软雅黑;
    font-size:12px;
    color:#AAB2BD;
    line-height:30px;}
.mes-div a{font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    line-height:30px;}
.mes-div a:hover{color:#428bca ! important;}
.right-content3-content2{width:228px;
   margin:0 auto;
   height:125px;}
.right-content3-content2-span1{
    font-family:Arial;
    font-size:22px;
    color:#000000;
    line-height:60px;
    font-weight:bold;
}
.right-content3-content2-span2{
    font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    line-height:30px;
}
.right-content3-content2 a{
    display:inline-block;
    width:228px;
    height:46px;
    background-color:#FC6e51;
    border-radius:4px;
    text-align:center;
}
.right-content3-content2 a:hover{
	 background-color:#F76243;
}
.right-content3-content2 a span:nth-of-type(1){
    
}
.right-content3-content2 a span:nth-of-type(2){
    font-family:微软雅黑;
    font-size:18px;
    color:#FFFFFF;
    line-height:46px;
}
/**************4****************/
.right-content4{height:100px;
   width:268px;
   margin-top:20px;}
/**************5****************/
.right-content5{
   width:268px;
   border:1px solid #AAAAAA;
   margin-top:19px;}
.right-content5-header{width:228px;
   height:45px;
   margin:0 auto;
   border-bottom:1px solid #AAAAAA;}
.right-content5-header span{font-family:微软雅黑;
   font-size:18px;
   color:#73B52D;
   line-height:45px;}
.right-content5-header a{font-family: 微软雅黑;
    font-size:12px;
    color:#377BEE;
    float:right;
    line-height:35px;
    padding-top:10px;}
.right-content5-header a:hover{color:#FF9417 ! important;}
.right-content5-content{
	width: 228px;
margin: 0 auto;
padding: 20px 0;
}
.mes-div1{height:30px;
    width:228px;}
.mes-div1 span{font-family:微软雅黑;
    font-size:12px;
    color:#000000;
    line-height:30px;}
.mes-div1 a:nth-of-type(1){font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    line-height:30px;}
.mes-div1 a:nth-of-type(1):hover{color:#428bca ! important;}
.mes-div1 a:nth-of-type(2){float:right;
    font-family:微软雅黑;
    font-size:12px;
    color:#377BEE;
    line-height:30px;}
.mes-div1 a:nth-of-type(2):hover{color:#FF9417 ! important;}
.mes-div2{height:30px;
    width:228px;
   }
.mes-div2 span{font-family:微软雅黑;
    font-size:12px;
    color:#000000;
    line-height:30px;
    }
.mes-div2-span{font-size:18px ! important;}
.mes-div2 a:nth-of-type(1){font-family:微软雅黑;
    font-size:14px;
    color:#000000;
    line-height:30px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    width:210px;
    padding-left: 5px;
    }
.mes-div2 a:nth-of-type(1):hover{color:#428bca ! important;}
/**************6****************/
.right-content6{height:268px;
   width:268px;
   border:1px solid #AAAAAA;
   margin-top:20px;}
.right-content6-header{width:228px;
   height:45px;
   margin:0 auto;
   border-bottom:1px solid #AAAAAA;}
.right-content6-header span{font-family:微软雅黑;
   font-size:18px;
   color:#73B52D;
   line-height:45px;}
.right-content6-content{height:223px;
   width:232px;
   margin:0 auto;
   padding-top:10px;}
.right-content6-content a{
    display:inline-block;
    height:44px;
    width:114px;
    float:left;
    margin-right:2px;
    margin-bottom:2px;
}

