

/*事务所首页*/
/*中间左边*/
.lawfirm-photo{
    width: 210px;
    height: 150px;
    padding:5px;
    border: 2px solid #ccc;
    float: left;
}
.lawfirm-photo>a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 137px;
}
.lawfirm-photo>a>img{
      max-width: 196px;
        max-height: 140px;
}
.lawfirm-detail{
    float: left;
    width: 477px;
    padding-left: 20px;
}
.detail-itemone{
    height: 40px;
}
.detail-itemtwo,.detail-itemthree{
  height: 30px;
line-height:30px;
}
.detail-itemfour{

}
.item-name,.item-content,.item-content-intro{
    display:inline-block;
    float: left;
}
.item-name{
    width: 40px;
}
.item-content{
    width: 265px;
}
.detail-top-left{
    float: left;
    width: 305px;
}
.detail-top-right{
    float:left;
    width: 150px;
}
.lawfirm-detail-bottom{
    margin-top: 13px;
}
.joinheart{
    width: 115px;
display: block;
height: 60px;
background-color: #dff2ff;
text-align: center;
color: #397CEE;
position: relative;
float: right;
transition:all 200ms;
}
.joinheart:hover{
	background-color:#BFDEF4;
}
.joinheart>div{
    position: relative;
    top: -5px;
}
.joinheart>span{
    font-size: 26px;
}
.joinheartyet{
    width: 115px;
height: 60px;
background-color: #ffdecf;
text-align: center;
color: #ff5608;
position: relative;
float: right;
}
.joinheartyet>div{
    position: relative;
    top: -5px;
}
.joinheartyet>span{
    font-size: 26px;
}
.item-content-intro{
    width: 414px;
}

/*金牌推荐*/
.lawfirm-recomm,.law-exper{
    border: 1px solid #ccc;
padding: 15px;
margin-top: 35px;
}
.lawfirm-item-left{
    float: left;
width: 200px;
height: 80px;
}
.lawer-photo{
    display: inline-block;
    width: 80px;
    height: 80px;
    float: left;
}
.lawer-photo>a{
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}
.lawer-photo>a>img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}
.lawer-info{
    display: inline-block;
width: 120px;
height: 80px;
float: left;
padding: 11px 0 0 14px;
}
.lawfirm-item-center{
    float: left;
width: 210px;
height: 80px;
border-left: 1px dashed #ccc;
border-right: 1px dashed #ccc;
padding: 0px 10px 0px 10px;
}
.lawer-goodat{
    display: table-cell;
width: 210px;
vertical-align: middle;
height: 80px;
font-size: 15px;
}
.lawfirm-item-right{
    float: left;
    width: 245px;
    height: 80px;
}
.advice,.hand,.percent{
    float: left;
    height: 80px;
}
.advice{
    width: 80px;
padding-left: 5px;
text-align: center;
padding-top: 15px;
}
.hand{
    width: 60px;
padding-top: 19px;
padding-left: 8px;
}
.percent{
    width: 100px;
padding-top: 20px;
padding-left: 10px;
}
.profes>span{
    color:#ff5000;
    margin-left: 5px;
}
.advice>span{
    display: block;

}
.service>span{
    color:#ffb03b;
    margin-left: 5px;
}
.advice>span:first-child{
    font-size: 23px;
    color: #73b52d;
}
.advice>span:last-child{
    font-size: 14px;
    color: #000;
}
.lawfirm-item{
   border-bottom: 1px solid #ccc;
padding: 15px 0 15px 0;
}
.lawfirm-item:last-child{
    border-bottom: none;
}

/*法务经验*/
.exper-item {
    margin: 40px 0;
}
.exper-item:first-child{
    margin-top: 25px;
}
.exper-item:last-child{
    margin-bottom: 20px;
}
.exper-item-left,.exper-item-right{
    float: left;
}
.exper-item-left{
    width: 75px;
}
.exper-item-right{
    width: 580px;
}
.exper-item-rtop{
    height: 25px;
    background-color: #eee;
    line-height:25px;
    padding: 0 10px;
}
.questype,.lawerservice,.servicetime{
    float: left;
}
.questype{
    width: 210px;
}
.lawerservice{
    width: 170px;
}
.servicetime{
    width: 170px;
}
.rtop-content{
   font-weight: 600;
   font-size: 15px; 
   margin-left: 10px;
}
.rtop-content-y{
   font-weight: 600;
   font-size: 15px;
   color: #ff9417; 
   margin-left: 10px;
}
.exper-lawer-photo{
    display: table-cell;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #eee;
    border-radius:2px;
    background:#EEE;
}
.exper-lawer-photo>img{
    max-width: 45px;
    max-height: 45px;
    border-radius: 2px;
}
.exper-lawer-name{
    display: block;
}
.rmid-disc{
   float: left;
width: 50px;
padding-left: 10px;
padding-top: 10px;
height: 60px;
}
.rmid-content{
    float: left;
width: 530px;
height: 60px;
padding-top: 10px;
}
.rmid-content>a{
    color:#000;
}
.rmid-content>a:hover{
    color: #397CEE;
}
.exper-item-rbot{
    color: #aaa;
}
.exper-time,.exper-explain,.exer-servicelawer{
    float: left;
}
.exper-time{
    width: 155px;
    padding-left: 10px;
}
.exper-explain{
    width: 200px;
}
.exer-servicelawer{
    width: 205px;
}
.checkmoreexper{
    border-top: 1px solid #ccc;
    text-align: center;
    height: 50px;
    line-height: 60px;
    color:  #397CEE;
    font-size: 16px;
}
.checkmoreexper>a{
    display: block;
}
.checkmoreexper>a>span{
    margin: 0 10px;
}
/*事务所简介*/
.lawfirm-introduction-box{
       border: 1px solid #ccc;
padding: 15px;
}
.lawfirm-introduct-content{
    padding: 10px 0 ;
    min-height:100px;
}
/*事务所法务经验*/
.lawfirm-lawexperbox{
    border: 1px solid #ccc;
    padding: 15px;
}
.exper-level{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.exper-level-inner{
    height: 100px;
}
.exper-level-inner-left{
    float: left;
width: 160px;
border-right: 1px dashed #ccc;
height: 100px;
padding-top: 20px;
padding-left: 25px;
text-align: center;
padding-right: 30px;
}
.exper-level-inner-right{
    float: left;
    width: 487px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    padding-left: 20px;
}
.exper-level-inner-right>div>div{
    float: left;
}
.pro-bar,.service-bar{
background-color: #e5e5e5;
width: 340px;
height: 20px;
    margin: 0 5px  ;

}
.pro-bar-inner{
    width: 20px;
    background-color: #FC6E51;
    height: 20px;
    transition:all 600ms;

}
.service-bar-inner{
    width: 20px;
    background-color: #ffb03b;
    height: 20px;
    transition:all 600ms;
}
.gradevalue{
    color: #FBC660;
margin-top: 5px;
}
.exper-level-inner-right>div{
    line-height: 20px;
margin: 5px 0;
}
.pro-barvalue{
color: #FC6E51;
}
.pro-barvalue>div,.service-barvalue>div{
    display: inline-block;
}
.service-barvalue{
 color: #ffb03b;   
}
.exper-list-title{
    padding: 20px 0 5px 0;
border-bottom: 1px solid #ccc;
}
/*法务预约*/
.lawfirm-appoint-box{
    border: 1px solid #ccc;
    padding: 15px;
}
.lawfirm-appoint-title{
    border-bottom: 1px solid #ccc;
    padding: 5px 0 5px 0;

}
.appo-title{
    font-size: 16px;
    font-weight: 600;
    float: left;
}
.condition-box-title{
font-size: 15px;
float: left;
width: 85px;
padding-top: 13px;
font-weight: 600;
}
.clear-condition{
    float: right;
}
.condition-box{
  
    position: relative;
    border-bottom: 1px solid #ccc;
}
.condition-box:last-child{
    border: none;
}
.condition-box-content{
    padding: 5px 10px;
margin-bottom: 18px;
transition: all 300ms;
float: left;
width: 570px;
}
.box-content-open{
    max-height: 80px;
    overflow: hidden;
}
.condition{

    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.lawfirm-appoint-date-box{
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 15px;
}
.lawfirm-appoint-date>div{
    display: inline-block;
}
.resultcount{
    float: left;
}
.resultworkyear{
    float: right;
}
.lawfirm-appoint-resulttitle{
    padding: 15px;
    padding-left: 0;
}
.lawfirm-appoint-result-box{
    border: 1px solid #ccc;
    padding: 15px;
}
.moreservicetype{
display: block;
width: 80px;
height: 25px;
line-height: 25px;
text-align: center;
position: absolute;
bottom: 0px;
right: 0;
}
.condition>a{
    color: #000;
    transition:all 300ms;
}
.condition>a:hover{
    color: #397CEE;
}
.condition-active{
    background-color: #387bee;
   color: #fff ! important;
}
.condition>a{
  padding: 1px 10px;
}
.condition-checked{
height: 25px;
padding-left: 10px;
color: #666;
background-color: #D6E5FC;
line-height: 25px;
cursor: pointer;
}
.lawfirm-appoint-date{
    display: inline-block;
    height: 25px;
    float: left;
}
.lawfirm-appoint-condition-checked{
    display: inline-block;
     height: 25px;
    float: left;
    padding-left: 20px;
}
.condi-del{
 color: rgba(255, 68, 102, 0.6);
cursor: pointer;
font-size: 18px;
transition: all 200ms;
}
.condi-del:hover{
    color:#f46; 
}
.lawfirm-appoint-condition-checked>div{
    float: left;
    margin-right: 5px;
}
.appoint-date{
    padding: 2px 20px 2px 10px;
    color: #555;
    margin: 0 10px;
    width: 120px;
    border: 1px solid #eee;
    box-shadow: 0 0 2px #eee;
}
.lawfirm-appoint-date>div{
    position: relative;
}
.appointdate-icon{
   position: absolute;
color: #377BEE;
right: 13px;
top: 2px;
}
.resultworkyear>select{
    width: 100px;
margin-left: 10px;
}

/*律师事务所律师显示*/
.questionbox-margin{
    margin-top: 0 ! important;
}
.lawer-consult{
    margin-top: 35px;
}
/*头部*/
.lawfirm-lawertitle{
    padding: 10px 0;
    width: 980px;
    margin: 0 auto;
    height: 95px;
    background-color: #F9F9F9;
    border: 1px solid #ccc;
}
.lawfirm-lawertitle-left{
    width: 708px;
    height: 75px;
    float: left;
}
.lawfirm-lawertitle-right{
    width: 270px;
    height: 75px;
    float: left;
    border-left: 1px dashed #ccc;
 padding: 10px 0 0 50px;
}
.lawer-info-box{
    width: 330px;
    float: left;
    padding: 0px 0 0 14px;
}
.lawer-btn{
   width: 378px;
float: left;
padding-top: 26px;
}
.lawer-realname{
    float: left;
    margin-right: 20px;
    font-size: 23px;
    font-weight: 600;
    display: inline-block;
    height: 35px;
    line-height: 30px;
}
.lawer-realtitle{
    float: left;
    font-size: 18px;
    font-weight: 600;
     display: inline-block;
    height: 35px;
    line-height: 35px;
}
.lawer-address>span{
    margin-left:10px;
}
.lawer-address{
    margin-top: 10px;
}
.freeconsult-btn,.appointhim-btn{
    width: 160px;
    height: 40px;
    color: #Fff;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    transition:all 300ms;
    margin: 0 5px;
}
.freeconsult-btn:hover,.appointhim-btn:hover{
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
.freeconsult-btn{
background-color: #73b52d;
}
.appointhim-btn{
background-color: #FF9418;
}
.lawer-grade{
    color: #FBC660;
    margin-left: 10px;
    height: 29px;
line-height: 29px;
}
.floatl{
    float: left;
}
/*律师简介*/
.lawer-intro-photo{
    width: 160px;
height: 210px;
padding: 5px;
box-shadow: 0 0 1px #555;
float: left;
}
.lawer-intro-photo>a {
display: table-cell;
vertical-align: middle;
text-align: center;
width: 150px;
height: 200px;
}
.lawer-intro-photo>a>img {
max-width: 150px;
max-height: 200px;
}
.lawer-detail{
    float: left;
width: 527px;
padding-left: 20px;
}
.lawer-detail-top-left{
    float: left;
width: 355px;
}
.lawer-detail-top-right{
    float: left;
width: 150px;
}
.lawer-item-name{
    width: 70px;
}
.lawer-item-content{
    width: 285px;
}
.lawer-item-name, .lawer-item-content, .lawer-item-content-intro {
display: inline-block;
float: left;
}
 .lawer-item-content-intro{
    width: 437px;
 }
 .lawer-detail-itemone{
    height: 30px;
 }
 .lawer-detail-itemtwo{
    height: 40px;
 }
 .lawfirm-lawer-top{
    padding-top: 10px;
 }
 .work-phone{
    color: #f85b26;
    font-size: 19px;
line-height: 18px;
 }
 /*专长领域*/
 .expertisearea-box{
    border: 1px solid #ccc;
    margin-top: 20px;
 }
 .expertisearea-inner-left{
    float: left;
width: 100px;
min-height: 100px;
border-right: 1px solid #ccc;
padding: 10px 0 10px 0;
 }
 .expertisearea-inner-right{
    float: left;
    width: 580px;
    padding: 10px 0 10px 0;
min-height: 100px;
 }
 .expertisename{
   background-color: #387bee;
color: #fff;
border-right: 2px solid #1e61d4;
text-align: center;
font-size: 19px;
padding: 5px 0;
font-weight: 600;
 }
 .expertisecontent{
float: left;
padding: 5px 10px;
color: #377aeb;
font-size: 18px;
font-weight: 600;
display: block;
width: 140px;
 }
 /*成功经验分享*/
 .succesexper-box{
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
 }
 .successexper-screening{
    padding: 10px 0 0 0;
 }
 .screening-name{
    float: left;
    width: 75px;
 }
 .screening-content-box{
    float: left;
    width: 570px;
 }
 .screening-content{
    padding: 3px 20px;
color: #387af2;
font-size: 15px;
display: inline-block;
float: left;
 }
 .screening-content-active{
    background-color: #387bee;
    color: #fff;
    border-radius: 3px;
 }
  .screening-content-active:hover{
    color: #fff;
  }
  /************************/
  /*周边*/
  .lawfirm-adname,.traffic-name{
    float: left;
    width: 50px;
  }
  .lawfirm-adcontent,.traffic-content{
    float: left;
    width: 565px;
  }
  .traffic{
    padding: 10px 0;
  }
  /*律师成功经验详情*/
  .exper-detail{
    padding: 10px 0 30px;
border-bottom: 1px solid #ccc;
  }
  .exper-detail-question{
    border: 1px solid #eee;
    padding: 15px;
  }
  .exper-detail-tip{
    padding: 5px 15px;
  }
  .exper-detail-lawerreply{
    padding: 15px;
    background-color: #f3ffec;
  }
  .exper-detail-question-time{
    color: #444;
    margin-bottom:5px; 
    font-size: 14px;
  }
   .exper-detail-question-time>span{
    margin-left: 5px;
   }
   .exper-detail-question-title>.iconfont{
    color: #6bc452;
    display: inline-block;
    float: left;
    font-size: 19px;
   }
   .question-title{
 color: rgba(255, 0, 0, 0.7);
background-color: #fffade;
padding: 3px 10px;
display: inline-block;
float: left;
width: 487px;
margin-left: 9px;
font-size: 16px;
font-weight: 600;
   }
   .exper-detail-question-intro{
    font-size: 15px;
padding: 10px 0 0;
line-height: 25px;
   }
   .exper-detail-tip{
      color: #f39800;
background-color: #ffeed1;
    margin: 10px 0;
   }
.exper-detail-tip>span:first-child{
    margin-right: 5px;
}
.lawerreply-title{
    color: #73b52d;
    padding: 5px 0  10px;
   font-size: 19px;
font-weight: 600;
}
.lawerreply-content{
    line-height: 25px;
}
.mgrt{
    margin-top: 25px;
}
.other-lawer-question{
    padding: 15px;
    margin-top: 25px;
    border: 1px solid #ccc;
}
.other-lawer-question-item>div:first-child{
    float: left;
    font-size: 15px;
font-weight: 600;
padding: 5px 0;
}
.other-lawer-question-item>div:first-child>a{
    color: #444;
}
.other-lawer-question-item>div:first-child>a:hover{
    color:#428bca;
}
.other-lawer-question-item>div:last-child{
    float: right;
    padding: 6px 0;
    font-size: 13px;
    color: #999;
}
.other-lawer-action{
    margin-top: 25px;
}
.other-lawer-action-tip{
    border: 1px solid #B3D465;
    background-color: #F5FAF6;
    padding: 4px 15px;
}
.other-lawer-action-tip>div{
    float: left;
}
.other-lawer-action-tip>.iconfont{
color:#62B832;
margin-right: 15px;
}
.liketitle{
    color: #377BEE;
font-weight: 600;
}
.action-btn-one,.action-btn-two{
    width: 210px;
    height: 70px;
    display: inline-block;
    padding: 10px 0;
    box-shadow: 0 0 2px #613B3B;
    transition:all 200ms;
}
.action-btn-one{
    background-color: #73b52d;
    margin-right: 60px;
}
.action-btn-one:hover{
background-color: rgba(115, 181, 45, 0.82);
}
.action-btn-two:hover{
  background-color: rgba(255, 148, 23, 0.82);
}
.action-btn-two{
    background-color: #FF9417;
}
.action-btn-one>div,.action-btn-two>div{
    height: 25px;
text-align: center;
line-height: 25px;
color: #fff;
font-size: 17px;
font-weight: 400;
font-family: simHei;
}
.other-lawer-action-btn{
    margin: 35px 0;
text-align: center;
}
.lawer-btnname{
    color: #fff100 ! important;
}
.pre-item:hover,.nxt-item:hover{
    color: #2a6496;
}
.pre-item{
    margin-right: 20px;
}
.other-lawer-question-content{
    padding: 15px 0 ;
}
.request-exper-lawer-photo{
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  top: -10px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  background: #EEE;
  line-height: 35px;
    margin-left: 17px;
}
.request-exper-lawer-photo>img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 2px;
}
.request-exper-lawer-name{
	  margin-left: 5px;
  position: relative;
  top: -6px;
  margin-right: 10px;
}
.rquest-exper-detail-question-time{
	  color: #444;
  margin-bottom: 5px;
  font-size: 14px;
  padding: 15px 0;
}
.request-time{
	font-size:13px;
}
.modi-exper-lawer-photo{
	display: table-cell;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  background: #EEE;
  float: left;
  
  position: relative;
  top: -12px;
  
}
.modi-exper-lawer-photo>img{
  max-width: 45px;
  max-height: 45px;
  border-radius: 2px;
}
.modi-exper-lawer-name{
	  margin: 0 10px 0 15px;
}
/*提供服务**/
.howmuch{
      display: inline-block;
  float: right;
  width: 280px;
  height: 21px;
  line-height: 13px;
}
.howmuch-img1{
    margin-right: 15px;
}
.howmuch-img2{
    float: right;
    position: relative;
  top: -3px;
}
.howmuch-value{
     display: inline-block;
  width: 60px;
  text-align: right;
  color: #ff0000;
  font-size: 20px;
  padding-right: 5px;
}
.money-unit{
    color: #777;
    margin-right: 5px;
}
.service-to-him{
    width: 120px;
    height: 40px;
    background-color: #73b52d;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
      margin-top: 20px;
      cursor: pointer;
      transition:all 200ms;
}
.service-to-him:hover{
     background-color: rgba(115, 181, 45, 0.8);
}
.other-lawer-replay-box{
    border: 1px solid #ccc;
    margin-top: 25px;
    padding: 15px;
}
.exper-item-reply{
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
      position: relative;
}
.exper-item-reply:last-child{
    border-bottom: none;
}
.request-detail{
      padding: 10px 0 5px;
}
.word-line-height{
    line-height: 26px;
}
.lawer-custom-replybox{
    border: 1px solid #ccc;
     margin: 20px 0 0;
}
.reply-content{
  border: none;
  width: 526px;
  min-height: 75px;
  padding: 10px;
  resize: none;
  overflow-y:hidden;
    color:#777;
}
.reply-content:focus{
    border: none ! important;
    box-shadow: none;
    outline: none;
}
.lawer-custom-replybox-bottom{
    background-color: #F5F5F5;
    height: 35px;
}
.reply-send-btn{
      width: 100px;
  height: 35px;
  float: right;
  padding: 3px;
  line-height: 25px;
  text-align: right;
  background-color: #fff;
  color: #666;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  cursor: pointer;
  transition:all 200ms;
}
.reply-send-btn:hover{
    background-color: #FAFAFA;
}
.reply-send-btn>img{
  position: relative;
  top: -2px;
  left: -3px;
}
.words-left{
      color: #777;
  float: left;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;

}
.words-left>span{
    color: orange;
}
.total-reply-count{
     color: #444 ! important;
  margin-left: 10px ! important;
  font-size: 15px ! important;
  font-weight: 400 ! important;
}
.modi-request-exper-item-left{
padding:15px 0 35px;
}
.modi-lawer-level{
	  display: inline-block;
  margin-left: 20px;
  color: #666;
}
.isIdentify{
    color: #ff5000;
    font-weight: 600;
    display: inline-block;
}
.notIdentify{
      color: #888;
  font-weight: 600;
  display: inline-block;
}
.lawer-level>span:first-child{
    margin-right: 3px;
}
.request-time{
    color: #aaa;
    font-size: 13px;
    margin-top: 5px;
}
.requesting-time{
    color: #aaa;
    font-size: 13px;
    margin-top: 5px;
}
.reply-time{
    color: #aaa;
    font-size: 13px;
    margin-top: 5px;
}
.reply-time>span:first-child{
    margin-right: 3px;
}
.request-time>span{
    position: relative;
    top: 18px;
}
.request-time>span:first-child{
    margin-right: 3px;
}
.accept-him{
     width: 120px;
  height: 40px;
  display: inline-block;
  background-color: #73b52d;
  color: #fff;
  text-align: center;
  line-height: 40px;
  float: right;
  border-radius: 3px;
  font-size: 15px;
  transition:all 200ms;
}
.accept-him:hover{
    color: #fff;
    background-color: rgba(115, 181, 45, 0.79);
}
.list-box{
    overflow: hidden;
    transition:all 200ms;
}
.put-away{
   max-height: 0px;  
}
.request-exper-item-right-content{
	background-color: #F3FFEC;
  padding: 10px 5px;
  color: #777;
}
.request-exper-item-right-content-suc{  
	background-color: #cbee98;
  padding: 10px 5px;
  color: #777;

}
.modi-lawer-custom-replybox{
	  border: 1px solid #ccc;
  margin: 20px 0 0;
}
.modi-reply-content{
	  border: none;
  width: 100%;
  min-height: 75px;
  padding: 10px;
  resize: none;
  overflow-y: hidden;
  color: #777;
}
.modi-reply-content:focus{
	outline:none ! important;
	border:none ! important;
	box-shadow:none ! important;
}
.modi-lawer-custom-replybox-bottom{
	  background-color: #F5F5F5;
  height: 35px;
}
.modi-request{
	cursor:pointer;
	margin-left:10px;
	color:#73B52D;
	  font-size: 15px;
}
.modi-reply-time{
	margin-left: 30px;
}
.notIdentify-img{
	  background: url(/showimg?url=images/icon-images/crown_gray.png);
  margin: 0 5px;
  width: 16px;
  height: 14px;
  display: inline-block;
}
.isIdentify-img{
	background:url(/showimg?url=images/icon-images/crown.png);
	margin: 0 5px;
	width: 16px;
  height: 14px;
  display: inline-block;
}
.wait-words{
	color:#73B52D;
	font-size: 15px;
	text-align:center;
}
.noreply1{
	background:url(/showimg?url=images/icon-images/noreplylogo.png) no-repeat;
	width:49px;
	height:50px;
	display:inline-block;
}
.noreply2{
	background:url(/showimg?url=images/icon-images/noreplylogo1.png) no-repeat;
	width:49px;
	height:50px;
	display:inline-block;
}
.modi-exper-detail-question-intro{
	font-size: 15px;
  padding: 20px 5px;
  line-height: 25px;
}
/*对话页面*/
.talk-item-reply{
    background: url(/showimg?url=images/icon-images/line.png) 39px top repeat-y #FFF;
    margin: 10px 0;
}
.talk-item-reply:last-child{
    background: none;
}
.talk-exper-item-left{
    width: 95px;
float: left;
height: 100%;

}
.reply-say{
    min-height: 80px;
    color: #666;
}
.talk-exper-item-left>div{
    background-color: #fff;
      padding-left: 16px;
}
.talk-exper-item-right{
width: 560px;
float: left;
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}
.talk-lcorner{
      position: absolute;
  left: -10px;
  top: 10px;
  width: 10px;
  height: 14px;
}
.request-detail-item-left{
 display:inline-block;
  float: left;
}
.request-detail-item-right{
      width: 560px;
  float: right;
}
.exper-detail-top{
      background: url(/showimg?url=images/icon-images/mailtop.png) no-repeat top;
  height: 18px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.exper-detail-middle{
      background-color: #fcfcfc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 0 5px;
}
.exper-detail-bottom{
      background: url(/showimg?url=images/icon-images/mailbottom.png) no-repeat 86% 13%;
  height: 40px;
  border-left: 1px solid #eee;
}
.modi-exper-detail-bottom{
      background: url(/showimg?url=images/icon-images/mailbottom.png) no-repeat -123px 0px;
  height: 40px;
  border-left: 1px solid #eee;
}
.talk-reply-left{
width: 95px;
  float: left;
  padding: 21px 0 0 15px;
}
.talk-reply-right{
    width: 560px;
  float: left;
  position: relative;
}
.talk-item-reply-box{
    margin: 10px 0;
}
.exper-detail-question{
    position: relative;
}
.doing-img{
      position: absolute;
  top: -11px;
  right: 50px;
}
.request-list-box{
    padding: 5px 15px ! important;
}
.request-list-title{
    border-bottom: none ! important;
    margin-bottom: 0 ! important;
}
.lawerservice-discuss{
      width: 152px;
      float: left;
      margin-left: 50px;
}
.servicetime-discuss{  
      width: 170px;
      float: left;
}
.rmid-content-discuss{
      float: left;
  width: 508px;
  padding-top: 10px;
}
.discuss-txt{
    width: 508px;
  height: 81px;
  padding: 10px;
  resize: none;
  border: 1px solid #eee;
}
.discuss-txt:focus{
    border: 1px solid #ccc ! important;

    box-shadow: none;
    outline: none;
}
.dis-sel{
      color: orange;
  background-color: #FFF;
  border: 1px solid #ddd;
}
.ok-dis{
      display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #73B52D;
  border-radius: 2px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 35px;
  float: right;
    margin: 0 5px 5px;
} 
.discuss-box{
      border: 1px solid #ddd;
        margin: 20px 0 0;
}
.toggle-box{
    height: 35px;
  background-color: #73B52D;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  cursor: pointer;
  width: 110px;
 float:right;
  transition:all 200ms;
}
.toggle-modi{
	float:left;
}
.judge-hr{
      margin: 30px 0 0;
}
.toggle-box:hover{
      background-color: rgba(115, 181, 45, 0.8);
}
.exper-item-rtop-level{
height: 25px;
  background-color: #eee;
  line-height: 25px;
  padding: 0 10px;
  margin-top: 20px;
}
.lawerservice-level{
      width: 158px;
      float: left;
}
.rmid-content-level{
      float: left;
  width: 509px;
  padding-top: 10px;
}
.action-tip{
      background-color: #ffeed1;
  color: #f39800;
  padding: 5px 30px;
}
.self-reply{
    background-color: #F3FFEC;
}
.toggle-bar{
    padding-top: 10px;
}
.modi-judge-box{
	border:1px solid #ccc;
	  padding: 15px 15px 0 15px;
	margin-top:25px;
}
.succ_rep{
	position:absolute;
	top:-22px;
	right:10px;
}
.modi-talk-exper-item-right{
	  width: 560px;
  float: left;
  border: 1px solid #ddd;
  position: relative;
}
/***评价框**/
.judge-box{
    background-color: #fff;
}
.judge-header{
    background-color: #377BEE;
    padding: 0 10px;
    height: 35px;
    
}
.judge-title{
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 35px;
}
.judge-close{
    color: #fff;
    float: right;
    font-size: 12px;
    text-align: center;
    border: 1px solid #fff;
    height: 20px;
    width: 60px;
      margin: 7px 0;
  line-height: 18px;
    cursor: pointer;
}
.judge-body{
    padding: 0px 30px;
  height: 175px;
  padding-top: 16px;
}
.judge-table tr{
    margin: 10px 0;

}
.judge-name{
    width: 85px;
    font-size: 14px;
    color: #444;
    height: 50px;
}
.label-check label{
   margin: 3px 20px 0 5px;
  color: #666;
  font-weight: normal;
  cursor: pointer;

}
.label-check input[type=checkbox]{
      position: relative;
  top: 1px;
}
.judge-footer{
    background-color: #eef8fd;
    padding: 10px 30px;
      height: 190px;
      margin: 0 -15px;
}
.judge-level-ul{
    color: #FBC660;
    font-size: 19px;
    display: inline-block;
}
.judge-level-ul>li {
  float: left;
  cursor: pointer;
  position: relative;
    width: 20px;
}
.judge-custom-replybox{
border: 1px solid #ccc;
  margin: 20px 0 0;
}
.judge-custom-replybox-top textarea{
  border: none;
  width: 578px;
  min-height: 75px;
  padding: 10px;
  resize: none;
  color: #777;
  height: auto ! important;
}
.judge-custom-replybox-bottom{
  background-color: #F5F5F5;
  height: 35px;
  position: relative;
}
.realGrade{
  color: #999;
  font-size: 16px;
  position: relative;
  top: -7px;
  margin: 0 5px 0 20px;
}
.gradeTip{
      color: #999;
  font-size: 13px;
  position: relative;
  top: -8px;

}
.model-checkbox{
      width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.model-checkbox[check=true]>.model-checkbox-inner{
     background-color: orange;
     position: absolute;
     left: 2px;
     top: 2px;
     width: 9px;
     height: 9px;
     border-radius: 2px;
}
.words-summ{
      position: absolute;
  right: 2px;
  top: -18px;
  font-size: 12px;
  color: #999;
}
.judge-custom-replybox-top{
    background-color: #fff;
}
.judge-txt:focus{
    border: none ! important;
    outline: none ! important;
}
.bc_choose{
      position: absolute;
  width: 19px;
  height: 29px;
  left: 0;
  top: 0;
  z-index: 1;
}
.star-half,.star-all{
  display: inline-block;
  width: 50%;
  height: 29px;
}