.successbox{
    padding: 15px;
}
.success-container{
    width: 800px;
    margin:0 auto;
}
.logo-bar{
    height:60px;
    margin-left: -60px;
}
.success-box{
    height: 600px;
}
.success-step1{
  width: 800px;
min-height: 490px;
padding: 20px 0 ;
background-color: #fAFAFA;
}
.completeTip{
 width: 700px;
height: 120px;
box-shadow: 0 0 2px #b3d465;
border: 1px solid #b3d465;
background-color: #FFF;
margin: 0 auto;
text-align: center;
}
.compl_top{
   font-size: 17px;
padding: 10px 0 10px;
}
.compl_mid,.compl_bot{
    font-size:14px;
    margin-bottom: 5px;
}
.compl_top_>div{
    display: inline-block;
    height:46px;
    line-height:46px;
    float: left;
}
.compl_top_{
    width: 253px;
margin: 0 auto;
height: 46px;
}
.suc-words{
    font-size: 21px;
    margin-left: 5px;
}
.login-name{
    color:#FFB03B;
    margin: 0 5px;
    font-weight:600;
}
.toSpace{
    text-decoration: none;
    COLOR:#1D61F0;
}
.toSpace:hover{
    color:#0D09A0;
}
.userTip{
    width: 700px;
height: 250px;
border: 1px solid #dfdfdf;
margin: 20px auto 0;
background-color: #fff;
}
.userTitle{
    height: 40px;
    padding-left: 20px;
    background-color: #f3f3f3;
    color:#444;
    font-size: 16px;
    line-height: 40px;
}
.userTip_mid{
    text-align: center;
padding: 15px 0 15px 0;
}
.userTip_mid>a{
    text-decoration: none;
    width: 170px;
    height: 50px;
    border-radius: 2px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size:16px;
    display: INLINE-BLOCK;
}
.pub-need{
    background-color: #8CC152;
    margin-right: 45px;
    transition:all 300ms;
}
.pub-need:hover{
    background-color:rgba(140, 193, 82, 0.78);
}
.pub-item{
  background-color: #FFB03B;
   transition:all 300ms;
}
.pub-item:hover{
  background-color: rgba(255, 176, 59, 0.79);
}
.userTip_bot{
    width: 630px;
height: 80px;
margin: 0 auto;
border: 1px solid #b3d465;
box-shadow: 0 0 2px #b3d465;
background-color: #f5fae6;
}
.userTip-msg-content{
  padding: 20px 0 5px 15px;
font-size: 12px;
}
.userTip-msg-content>img{
    margin-right:20px;
}
.userTip-action{
   padding: 10px 0 10px 47px;
font-size: 15px;
}
.userTip-action>a{
    text-decoration: none;
    color:#1D61F0;
}
.userTip-action>a:hover{
    color:#0D09A0;
}
.waitcode{
    cursor:text;
    color:#fff;
    font-size:15px;
}
.errMsg{
    color:#f46;
    font-size: 14px;
    padding: 0 0 5px 95px;
}
.title-active{
    color: #4A89DC;
}
.form-select{
    width: 512px;
font-weight: 600;
color: #555;
}