/*************************事务所法务预约表专用***********************/

/*************************chrome hack开始***********************/
@media screen and (-webkit-min-device-pixel-ratio:0){.col .sel-wrap select{margin-left:1px;}}{}

/*************************chrome hack结束***********************/

/*************************下拉框开始***********************/
.col{
	position:relative;
	display: inline-block;
}
.sel-wrap{
	height:40px;
	display: inline-block;
}
.col option{
	line-height:45px;
}
.orderform .col label,
.orderform .col select{
	height:45px;
	font-size:18px;
	line-height:40px;
	font-weight:normal;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	text-indent:1em;
}
.orderform .col select{
	width:193px;
	height:45px;
	color:#000;
	border:none;
}
.col-arrow_down{
	float:right;
	padding-right:8px;
}
.orderform .col select{
	z-index:4;
	opacity:0;
}
.sel-wrap{
	text-align:left;
}
.col_orange{
	width:193px;
	height:45px;
	color:#fff;
	background:#FFB03A;
}
.orderform .col_orange label{
	width:193px;
	border:2px solid #FFB03A;
}
.col_area{
	width:140px;
	height:45px;
	font-size:14px;
	color:#000;
}
.col_area .sel-wrap label{
	border:1px solid #ccc;
	font-size:14px;
}
.orderform .col_area select{
	width:140px;
	height:45px;
	color:#000;
}
.orderform .col_area label{
	width:140px;
	height:45px;
}
/*************************下拉框结束***********************/

.orderform{
	width:687px;
	padding:15px;
	border:1px solid #ccc;
}
.orderform-head{
	height:47px;
	font-size:24px;
	color:#73B52D;
	line-height:35px;
	border-bottom:1px dashed #ccc;
	margin-bottom:5px;
}
.orderform form li{
	margin:12px 0;
}
.orderform form li > label{
	width:120px;
	font-size:15px;
	line-height:45px;
	text-align: right;
	vertical-align: top;
}
.orderform input{
	width:494px;
	height:40px;
	padding:10px 20px;
	border:2px solid #E5E5E5;
}
.orderform select{
	height:40px;
	border:2px solid #E5E5E5;
}
.orderform-content textarea{
	width:494px;
	resize:none;
	padding:10px 20px;
	border:2px solid #E5E5E5;
	height:180px;
}
.orderform-tips_01{
	padding-left:123px;
}
.orderform-tips_01-title{
	font-size:15px;
	font-weight:bold;
	letter-spacing: normal;
	color:#FF5000;
}
.orderform-tips_01-text{
	font-size:12px;
	letter-spacing: normal;
	color:#444;
}
.orderform-area select{
	width:116px;
}
.orderform-price select{
	width:116px;
}
.orderform-name input,
.orderform-phoneNum input{
	width:370px;
}
.orderform-tips_02{
	padding-left:123px;
	font-size:13px;
	font-weight:bold;
	color:#FF5000;
}
.orderform-tips_02 span{
	width:520px;
}
.orderform .orderform-tips_03{
	padding-left:123px;
	margin:30px 0px;
}
.orderform-tips_03 span{
	width:496px;
	height:34px;
	font-size:13px;
	line-height:32px;
	display: block;
	border:1px solid #B4D465;
	background:#F5FAE6;
}
.orderform-tips_03-beep{
	margin:10px;
}
.orderform-submit{
	padding-left:123px;
}
.orderform-submit input{
	width:172px;
	height:55px;
	background:#FB6E52;
	border:none;
	border-radius:3px;
	font-size:23px;
	color:#fff;
	padding:10px 20px;
}
.wanyuan {
	width: 260px;
	line-height: 45px;
	padding-left: 200px;
	float: left;
	margin-top: -45px;
	font-size: 15px;
	line-height: 45px;
	font-weight: 700;
}