div.need form li > label{
	width:145px;
}
div.need .notice{
	padding-left:150px;
}
 .formbox-tips_01{
	padding-left:150px;
}
.formbox-tips_01-title{
	font-size:15px;
	font-weight:bold;
	letter-spacing: normal;
	color:#FF5000;
}
.formbox-tips_01-text{
	font-size:12px;
	letter-spacing: normal;
	color:#444;
}
.need .formbox-submit{
	padding-left:150px;
}
.need .formbox-tips_end{
	padding-left:150px;
}
.need input.datepicker{
	width:160px;
}
.need .datepickerbox{
	width:160px;
}
.need .col_area{
	width:160px;
}
.need .formbox-achievement input[type=radio]{
	width:auto;
	height:auto;
	border:none;
	margin-top:15px;
	padding:0px;

}
.need .formbox-achievement label[for]{
	width:30px;
	padding:0 10px;
	line-height: 45px;
}
.need .datepickerbox .notice{
	width:auto;
	padding:0px;
}
.need .formbox-kind .col_orange .notice{
	padding:0px;
	margin-top:50px;
}
.need .formbox-times .datepickerbox,
.need .formbox-times{
	vertical-align: top;
}
.need .col_area select{
	width:160px;
	height:45px;
	color:#000;
}