.cut-preview-box{
	position: relative;
	height: 300px;
	margin: 20px 0;
}
.cut-preview{
	width: 250px ! important;
	height: 250px ! important;
	left: 50px;
}
.cut-preview>img{
	max-width: 250px;
	max-height: 250px;
}
.cut-preview1{
	width: 160px;
height: 160px;
left: 310px;
top: -160px;
}
.cut-preview2{
width: 60px;
height: 60px;
left: 480px;
top: -220px;
}
.cut-preview3{
width: 40px;
height: 40px;
left: 550px;
top: -260px;
}
.cut-preview,.cut-preview1,.cut-preview2,.cut-preview3{
	position: relative;
bottom: 0;
overflow: hidden;
border: 1px solid #ccc;
}
.gray-btn{
	display: inline-block;
width: 120px;
height: 30px;
line-height: 30px;
text-align: center;
color: #999;
box-shadow: 0 0 1px #666;
border: 1px solid #F5F5F5;
background-color: #F5F5F5;
cursor: pointer;
margin: 0 10px;
transition:all 200ms;
}
.gray-btn:hover{
	background-color: #eee;
}
.upload-title,.upload-tip{
	padding-left: 10px;
	color: #777;
	margin: 5px 0;
}