/*****************下拉框 begin******************/
.col{
	position:relative;
	display: inline-block;
}
.sel-wrap{
	width:150px;
	height:35px;
	display: inline-block;
	position:relative;
}
.col option{
	line-height:35px;
}
.formbox .col label,
.formbox .col select{
	height:35px;
	font-size:16px;
	line-height:35px;
	font-weight:normal;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	text-indent:12px;
}
.formbox .col select{
	width:193px;
	height:35px;
	color:#000;
	border:none;
}
.col-arrow_down{
	float:right;
	padding-right:10px;
}
.formbox .col select{
	z-index:4;
	opacity:0;
}
.sel-wrap{

	text-align:left;
}
.col_area{
	width:150px;
	height:35px;
	font-size:14px;
	color:#000;
}
.col_area .sel-wrap label{
	width:150px;
	height:35px;
	padding-left:15px;
	position: absolute;
	top: 0;
	z-index: 1;
	border:1px solid #ccc;
	font-size:14px;
	  color: #777;
}
.formbox .col_area select{
	width:188px;
	height:35px;
	color:#000;
}
.formbox .col_area label{
	width:150px;
	height:35px;
}
.sel-wrap > select {
	width:150px;
	height:35px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
/********************下拉框 end******************/

/*********************上传照片 begin**********************/
.imgupload .notice{
	padding-left:0;
	float:left
}
.imgupload .upload{
	width:145px;
	height:45px;
	font-size:16px;
	line-height: 45px;
	text-align: center;
	border-radius:3px;
	background:#D2D2D2;
	float:left;
}
.imgupload .format{
	height:45px;
	margin-left:20px;
	line-height: 45px;
	float:left;
}
.imgupload .upload:hover{
	color:#fff;
	background:#FC6E51;
}
.imgpreview{
	width:400px;
	height:220px;
	border:1px solid #eee;
	margin:10px 0;
	float:left;
	position: relative;
}
.imgpreview img{
	width:300px;
	height:200px;
	position:absolute;
	top:5px;
	left:5px;
}
.imgpreview .deleImg{
	width:300px;
	height:50px;
	background:#000;
	opacity:0.6;
	display: none;
	position:absolute;
	top:5px;
	left:5px;
}
.imgpreview:hover .deleImg{
	display: block;
}
.imgpreview .deleImg img{
	width:40px;
	height:40px;
	display: block;
	position:absolute;
	top:5px;
	left:250px;
}
input[type=file].hideinput{
	display:none;
}
.zpyq{
	color:#f00;
	position:relative;
}
.zpyq:hover .pictips{
	display: block;
}
.pictips{
	width:310px;
	color:#aaa;
	background:#fff;
	border:2px solid #eee;
	position:absolute;
	top:20px;
	z-index:99;
	display: none;
}
.pictips img{
	width:300px;
}
/***********************上传照片 end **********************/