<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingyuan.zhifeng.repository.ZFAgencyMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<resultMap id="BaseResultMap" type="com.jingyuan.zhifeng.entity.ZFAgency">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="postcode" property="postcode" jdbcType="VARCHAR" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="idpicture" property="idpicture" jdbcType="VARCHAR" />
		<result column="companypicture" property="companypicture"
			jdbcType="VARCHAR" />
		<result column="companynum" property="companynum"
			jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="INTEGER" />
		<result column="companyweb" property="companyweb" jdbcType="VARCHAR" />
		<result column="service" property="service" jdbcType="VARCHAR" />
		<result column="head" property="head" jdbcType="VARCHAR" />
		<result column="agencytype" property="agencytype" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="enabled" property="enabled" jdbcType="TINYINT" />
		<result column="parentid" property="parentid" jdbcType="INTEGER" />
		<result column="introduce" property="introduce" jdbcType="VARCHAR" />
		<result column="teamintroduce" property="teamintroduce"
			jdbcType="VARCHAR" />
		<result column="teampurpose" property="teampurpose" jdbcType="VARCHAR" />
		<result column="reservation" property="reservation" jdbcType="VARCHAR" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="selfintroduce" property="selfintroduce"
			jdbcType="VARCHAR" />
		<association property="orderCount" column="id"
			select="com.jingyuan.zhifeng.repository.ZFOrderMapper.countOrderByAgencyAndStatus"></association>
		<association property="zfAddress" column="address"
			select="com.jingyuan.zhifeng.repository.ZFAddressMapper.findAddressById" />
		<collection property="agencyes" column="id"
			select="com.jingyuan.zhifeng.repository.ZFAgencyemployeeMapper.findEmployeeByAgencyId" />
	</resultMap>
	<insert id="insert" parameterType="com.jingyuan.zhifeng.entity.ZFAgency"
		keyProperty="id" useGeneratedKeys="true">
		insert into zf_agency (name, status,
		phone, password, postcode,
		fax, email, realname,
		idcard, idpicture,
		companypicture, companynum, city,
		address, companyweb, service,
		head, createtime, updatetime,
		enabled,parentid,introduce,teamintroduce,teampurpose,agencytype,reservation,salt,selfintroduce)
		values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{postcode,jdbcType=VARCHAR},
		#{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR},
		#{idcard,jdbcType=VARCHAR}, #{idpicture,jdbcType=VARCHAR},
		#{companypicture,jdbcType=VARCHAR}, #{companynum,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
		#{address,jdbcType=INTEGER}, #{companyweb,jdbcType=VARCHAR},
		#{service,jdbcType=VARCHAR},
		#{head,jdbcType=VARCHAR}, now(), now(),
		#{enabled,jdbcType=TINYINT}, #{parentid,jdbcType=INTEGER},
		#{introduce,jdbcType=VARCHAR},
		#{teamintroduce,jdbcType=VARCHAR}, #{teampurpose,jdbcType=VARCHAR}, 
		#{agencytype,jdbcType=VARCHAR}, #{reservation,jdbcType=VARCHAR}
		, #{salt,jdbcType=VARCHAR}, #{selfintroduce,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.jingyuan.zhifeng.entity.ZFAgency"
		keyProperty="id" useGeneratedKeys="true">
		insert into zf_agency
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="postcode != null">
				postcode,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="idcard != null">
				idcard,
			</if>
			<if test="idpicture != null">
				idpicture,
			</if>
			<if test="companypicture != null">
				companypicture,
			</if>
			<if test="companynum != null">
				companynum,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="companyweb != null">
				companyweb,
			</if>
			<if test="service != null">
				service,
			</if>
			<if test="head != null">
				head,
			</if>
				createtime,
				updatetime,
			<if test="enabled != null">
				enabled,
			</if>
			<if test="parentid != null">
				parentid,
			</if>
			<if test="introduce != null">
				introduce,
			</if>
			<if test="teamintroduce != null">
				teamintroduce,
			</if>
			<if test="teampurpose != null">
				teampurpose,
			</if>
			<if test="agencytype != null">
				agencytype,
			</if>
			<if test="reservation != null">
				reservation,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="selfintroduce != null">
				selfintroduce,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="postcode != null">
				#{postcode,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="idpicture != null">
				#{idpicture,jdbcType=VARCHAR},
			</if>
			<if test="companypicture != null">
				#{companypicture,jdbcType=VARCHAR},
			</if>
			<if test="companynum != null">
				#{companynum,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=INTEGER},
			</if>
			<if test="companyweb != null">
				#{companyweb,jdbcType=VARCHAR},
			</if>
			<if test="service != null">
				#{service,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				#{head,jdbcType=VARCHAR},
			</if>
			now(),
			now(),
			<if test="enabled != null">
				#{enabled,jdbcType=TINYINT},
			</if>
			<if test="parentid != null">
				#{parentid,jdbcType=INTEGER},
			</if>
			<if test="introduce != null">
				#{introduce,jdbcType=VARCHAR},
			</if>
			<if test="teamintroduce != null">
				#{teamintroduce,jdbcType=VARCHAR},
			</if>
			<if test="teampurpose != null">
				#{teampurpose,jdbcType=VARCHAR},
			</if>
			<if test="agencytype != null">
				#{agencytype,jdbcType=VARCHAR},
			</if>
			<if test="reservation != null">
				#{reservation,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="selfintroduce != null">
				#{selfintroduce,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="findById" resultMap="BaseResultMap">
		select * from zf_agency a where a.id = #{0}
	</select>

	<select id="findByParentId" parameterType="com.jingyuan.zhifeng.entity.ZFAgency"
		resultMap="BaseResultMap">
		select * from zf_agency a where 
		<if test="parentid != null">
			(a.parentid= #{parentid} and a.id != #{id}) or a.id = #{parentid}
		</if>
		<if test="parentid == null">
			a.parentid = #{id} limit 2
		</if>

	</select>

	<select id="findWithKindsNeeds" resultType="map">
		select (select COUNT(*) from zf_agencyemployee e,zf_order o WHERE
		e.agencyid = y.id and e.id = o.agencyemployeeid AND o. STATUS = 2) as
		numbers,y.id,y.head,y.name,y.phone,d.detail
		from zf_address d,zf_agency y
		where y.address = d.addressid and d.type = 1
		<if test="param1 !=null">
			and d.province = #{param1}
		</if>
		<if test="param2 != null">
			and d.city = #{param2}
		</if>
		<if test="param3 != null">
			and
			<foreach item="service" index="index" collection="param3"
				open="(" separator=" or " close=")">
				find_in_set(#{service},y.service)
			</foreach>
		</if>
		<if test="param4 != null">
			and
			<foreach item="agencytype" index="index" collection="param4"
				open="(" separator=" or " close=")">
				find_in_set(#{agencytype},y.agencytype)
			</foreach>
		</if>
	</select>

	<select id="findAllWorksByAgencyId" resultType="string">
		select c.name from zf_agencyemployee e,zf_skillc c WHERE e.agencyid = #{0} AND c.id = e.identity GROUP BY e.identity
	</select>
</mapper>