<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingyuan.zhifeng.repository.ZFMessageMapper" >
  <resultMap id="BaseResultMap" type="com.jingyuan.zhifeng.entity.ZFMessage" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="needid" property="needid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="employeeid" property="employeeid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="isread" property="isread" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <association property="user" column="userid" select="com.jingyuan.zhifeng.repository.ZFUserMapper.selectByUserId" />
    <association property="agencyemployee" column="employeeid" select="com.jingyuan.zhifeng.repository.ZFAgencyemployeeMapper.selectByPrimaryKey" />
  </resultMap>
  <insert id="insert" parameterType="com.jingyuan.zhifeng.entity.ZFMessage" >
    insert into zf_message (id, needid, userid, 
      employeeid, content, type, 
      isread, createtime, updatetime, 
      enabled)
    values (#{id,jdbcType=INTEGER}, #{needid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{employeeid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{isread,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jingyuan.zhifeng.entity.ZFMessage" 
  			keyProperty="id" useGeneratedKeys="true">
    insert into zf_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="needid != null" >
        needid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="employeeid != null" >
        employeeid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isread != null" >
        isread,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="needid != null" >
        #{needid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="employeeid != null" >
        #{employeeid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="findMessageByNeedId" resultMap="BaseResultMap">
  	select * from zf_message m where m.needid = #{0} order by m.createtime
  </select>
</mapper>