<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingyuan.zhifeng.repository.ZFNeedMapper" >
<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
  <resultMap id="BaseResultMap" type="com.jingyuan.zhifeng.entity.ZFNeed" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="resultform" property="resultform" jdbcType="VARCHAR" />
    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="ownership" property="ownership" jdbcType="VARCHAR" />
    <result column="fund" property="fund" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <association property="zfAddress" column="address" select="com.jingyuan.zhifeng.repository.ZFAddressMapper.findAddressById" />
    <association property="user" column="userid" select="com.jingyuan.zhifeng.repository.ZFUserMapper.selectByUserId" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, userid, title, address, email, contacts, phone, fax, postcode, detail, price, 
    resultform, finishtime, endtime, ownership, fund, keyword, remark, createtime, updatetime, 
    enabled
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zf_need
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zf_need
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingyuan.zhifeng.entity.ZFNeed" keyProperty="id" useGeneratedKeys="true">
    insert into zf_need (type, userid, 
      title, address, email, 
      contacts, phone, fax, 
      postcode, detail, price, 
      resultform, finishtime, endtime, 
      ownership, fund, keyword, 
      remark, createtime, updatetime, 
      enabled)
    values (#{type,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{contacts,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{resultform,jdbcType=VARCHAR}, #{finishtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{ownership,jdbcType=VARCHAR}, #{fund,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, now(), now(), 
      #{enabled,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jingyuan.zhifeng.entity.ZFNeed" keyProperty="id" useGeneratedKeys="true">
    insert into zf_need
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="type != null" >
        type,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="postcode != null" >
        postcode,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="resultform != null" >
        resultform,
      </if>
      <if test="finishtime != null" >
        finishtime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="ownership != null" >
        ownership,
      </if>
      <if test="fund != null" >
        fund,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="remark != null" >
        remark,
      </if>
        createtime,
        updatetime,
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="resultform != null" >
        #{resultform,jdbcType=VARCHAR},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ownership != null" >
        #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="fund != null" >
        #{fund,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
        now(),
        now(),
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jingyuan.zhifeng.entity.ZFNeed" >
    update zf_need
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="resultform != null" >
        resultform = #{resultform,jdbcType=VARCHAR},
      </if>
      <if test="finishtime != null" >
        finishtime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ownership != null" >
        ownership = #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="fund != null" >
        fund = #{fund,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
        updatetime = now(),
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jingyuan.zhifeng.entity.ZFNeed" >
    update zf_need
    set type = #{type,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      address = #{address,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      resultform = #{resultform,jdbcType=VARCHAR},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      ownership = #{ownership,jdbcType=VARCHAR},
      fund = #{fund,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = now(),
      enabled = #{enabled,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="countNeedByUserId" resultType="java.lang.Integer">
  	SELECT COUNT(*) FROM zf_need n WHERE n.userid = #{0}
  </select>
  
  <select id="findNeedByUserId" resultMap="BaseResultMap" useCache="false">
  	select * from zf_need n 
  	<if test="param6 != null">
  		,zf_agencyemployee a,zf_order o
  	</if>
  	<if test="param6 == null">
  		<if test="param7 != -1">
  		,zf_order o
  		</if>
  	</if>
  	WHERE n.userid = #{0} 
  	<if test="param2 != null" >
	  	and n.title LIKE CONCAT('%','${param2}','%' )  
  	</if>
  	<if test="param3 != null" >
	  	and n.createtime &gt; #{param3}
  	</if>
  	<if test="param4 != null" >
	  	and n.createtime &lt; #{param4}
  	</if>
  	<if test="param5 != null" >
	  	and n.type = #{param5}
  	</if>
  	<if test="param7 != -1" >
	  	and o.status = #{param7}
	  	AND o.needid = n.id
  	</if>
  	<if test="param6 != null" >
	  AND o.agencyemployeeid = a.id
	  AND o.needid = n.id
	  AND a.name LIKE CONCAT('%','${param6}','%' )  
  	</if>
  	and n.enabled = 0
  	GROUP BY n.id
  </select>
  
  <select id="findNeeds" resultType="map">
  	select n.*,o.type as needStatus from zf_need n LEFT JOIN zf_order o ON o.needid = n.id,zf_address a WHERE n.address = a.addressid
  	<if test="param1 != null">
  		and a.province = #{param1}
  	</if>
  	<if test="param2 != null">
  		and a.city = #{param2}
  	</if>
  	<if test="param3 != null">
			and
			<foreach item="service" index="index" collection="param3"
				open="(" separator=" or " close=")">
				n.type = #{service}
			</foreach>
		</if>
  </select>
    <select id="deleteNeeds" resultMap="BaseResultMap" useCache="false">
  	select * from zf_need n where n.userid = #{0} and n.enabled = 1
  </select>
  
  <select id="findNeedByCityAndType" resultMap="BaseResultMap">
  	select * from zf_need n
  	<choose>
  		<when test="param1!='' and param2=='' and param3 == '' ">
  			,zf_address a where n.address = a.addressid and a.province = #{param1}
  		</when>
  		<when test="param1!='' and param2=='' and param3 != '' ">
  			,zf_address a where n.address = a.addressid and a.province = #{param1} and n.type = #{param3}
  		</when>
  		<when test="param1!='' and param2!='' and param3 == '' ">
  			,zf_address a where n.address = a.addressid and a.province = #{param1} and a.city = #{param2}
  		</when>
  		<when test="param1!='' and param2!='' and param3 != '' ">
  			,zf_address a where n.address = a.addressid and a.province = #{param1} and a.city = #{param2} and n.type = #{param3}
  		</when>
  		<when test="param1 =='' and param2=='' and param3 != '' ">
  			where n.type = #{param3}
  		</when>
  	</choose>
  </select>
  
</mapper>