<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingyuan.zhifeng.repository.ZFUserMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<resultMap id="BaseResultMap" type="com.jingyuan.zhifeng.entity.ZFUser">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="postcode" property="postcode" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="head" property="head" jdbcType="VARCHAR" />
		<result column="introduction" property="introduction" jdbcType="VARCHAR" />
		<result column="industry" property="industry" jdbcType="VARCHAR" />
		<result column="attention" property="attention" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="enabled" property="enabled" jdbcType="TINYINT" />
		<result column="park" property="park" jdbcType="VARCHAR"/>
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="selfintroduce" property="selfintroduce" jdbcType="VARCHAR" />
		<association property="zfAddress" column="address" select="com.jingyuan.zhifeng.repository.ZFAddressMapper.findAddressById" />
	</resultMap>
	<insert id="insert" parameterType="com.jingyuan.zhifeng.entity.ZFUser"
		keyProperty="id" useGeneratedKeys="true">
		insert into zf_user (name, type,
		status, password, address,
		email, postcode, phone,
		fax, realname,park,
		number,
		picture, head, introduction,
		industry, attention, createtime,
		updatetime, enabled,salt,selfintroduce)
		values (#{name,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER},
		#{password,jdbcType=VARCHAR},
		#{address,jdbcType=INTEGER},
		#{email,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{fax,jdbcType=VARCHAR},
		#{realname,jdbcType=VARCHAR},#{park,jdbcType=VARCHAR},
		#{number,jdbcType=VARCHAR},
		#{picture,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR},
		#{introduction,jdbcType=VARCHAR},
		#{industry,jdbcType=VARCHAR},
		#{attention,jdbcType=VARCHAR},
		now(),
		now(), #{enabled,jdbcType=TINYINT}), #{salt,jdbcType=VARCHAR},
		#{selfintroduce,jdbcType=VARCHAR}
	</insert>
	<insert id="insertSelective" parameterType="com.jingyuan.zhifeng.entity.ZFUser"
		keyProperty="id" useGeneratedKeys="true">
		insert into zf_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="postcode != null">
				postcode,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="picture != null">
				picture,
			</if>
			<if test="head != null">
				head,
			</if>
			<if test="introduction != null">
				introduction,
			</if>
			<if test="industry != null">
				industry,
			</if>
			<if test="attention != null">
				attention,
			</if>
				createtime,
				updatetime,
			<if test="enabled != null">
				enabled,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="park != null">
				park,
			</if>
			<if test="selfintroduce != null">
				selfintroduce,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="postcode != null">
				#{postcode,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=VARCHAR},
			</if>
			<if test="picture != null">
				#{picture,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				#{head,jdbcType=VARCHAR},
			</if>
			<if test="introduction != null">
				#{introduction,jdbcType=VARCHAR},
			</if>
			<if test="industry != null">
				#{industry,jdbcType=VARCHAR},
			</if>
			<if test="attention != null">
				#{attention,jdbcType=VARCHAR},
			</if>
			now(),
			now(),
			<if test="enabled != null">
				#{enabled,jdbcType=TINYINT},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="park != null">
				#{park,jdbcType=VARCHAR},
			</if>
			<if test="selfintroduce != null">
				#{selfintroduce,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="findNormalUserById" resultMap="BaseResultMap">
		select * from zf_user u
		where u.id=#{0} and u.type = #{1}
	</select>
	
	<select id="findRoles" resultType="string">
		select r.role from zf_role r,zf_roleuser u WHERE u.user = #{0} and u.usertype = #{1} and u.role = r.id 
	</select>
	
	<select id="findPermissions" resultType="string">
		 select p.permission from zf_permission p,zf_role r,zf_rolepermission z WHERE r.id = z.role and z.permission = p.id 
		 <if test="list != null">
		 	and
		 	<foreach item="role" index="index" collection="list" open="(" separator=" or " close=")">
        		r.role = '${role}'
  			</foreach>
		 </if>
		 GROUP BY p.permission
	</select>

	<select id="selectByPhone" parameterType="string"
		resultType="com.jingyuan.zhifeng.entity.ZFUser">
		select * from zf_user u where u.phone=#{phone}
	</select>

	<select id="selectByUserName" parameterType="String"
		resultMap="BaseResultMap">
		select * from zf_user u where u.name=#{userName}
	</select>

	<select id="selectByUser" parameterType="com.jingyuan.zhifeng.entity.ZFUser"
		resultMap="BaseResultMap">
		select * from zf_user
		<where>
			<if test="name != null">
				name = #{name}
			</if>
			<if test="email != null">
				email = #{email}
			</if>
			<if test="phone != null">
				phone = #{phone}
			</if>
			<if test="password != null">
				and password = #{password}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		

		</where>
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap">
		select * from zf_user u where u.id = #{0}
	</select>

	<update id="updateByPrimaryKeySelective" parameterType="com.jingyuan.zhifeng.entity.ZFUser">
		update zf_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="postcode != null">
				postcode = #{postcode,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				fax = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="picture != null">
				picture = #{picture,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				head = #{head,jdbcType=VARCHAR},
			</if>
			<if test="introduction != null">
				introduction = #{introduction,jdbcType=VARCHAR},
			</if>
			<if test="park != null">
				park = #{park,jdbcType=VARCHAR},
			</if>
			<if test="industry != null">
				industry = #{industry,jdbcType=VARCHAR},
			</if>
			<if test="attention != null">
				attention = #{attention,jdbcType=VARCHAR},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=TINYINT},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="selfintroduce != null">
				selfintroduce = #{selfintroduce,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<insert id="insertRoleUser" keyProperty="id">
		INSERT INTO zf_roleuser(role,user,usertype,enabled) 
		values(#{param1},#{param2},#{param3},#{param4})
	</insert>
</mapper>